doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    meta(name='csrf-token', ,='', content='_csrf')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Login | Roomtini
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Content
        =============================================
      section#content
        .content-wrap.nopadding
          .section.nopadding.nomargin(style='width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;')
          .section.nobg.full-screen.nopadding.nomargin
            .container.vertical-middle.divcenter.clearfix
              .row.center
                a(href='index.html')
                  img(src='images/logo-dark.png', alt='Canvas Logo')
              .panel.panel-default.divcenter.noradius.noborder(style='max-width: 400px;')
                .panel-body(style='padding: 40px;')
                  form.nobottommargin(method='POST')
                    input(type='hidden', name='_csrf')
                    h3 Login to your Account
                    .col_full
                      label(for='email') Email:
                      input#email.form-control.not-dark(type='email', name='email', value='')
                    .col_full
                      label(for='login-form-password') Password:
                      input#password.form-control.not-dark(type='password', name='password')
                    .col_full.nobottommargin
                      button#login-form-submit.button.button-3d.button-black.nomargin(name='login-form-submit', value='login') Login
                      a.fright(href='/forgot') Forgot Password?
                  .line.line-sm
                  .center
                    h4(style='margin-bottom: 15px;') or Login with:
                    a.button.button-rounded.si-facebook.si-colored(href='#') Facebook
                    span.hidden-xs or
                    a.button.button-rounded.si-twitter.si-colored(href='#') Twitter
              .row.center.dark
                small Copyrights © All Rights Reserved by Canvas Inc.
      // #content end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='js/functions.js')
