doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    meta(name='csrf-token', content=_csrf)
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='../style.css', type='text/css')
    // One Page Module Specific Stylesheet
    link(rel='stylesheet', href='onepage.css', type='text/css')
    // /
    link(rel='stylesheet', href='../css/dark.css', type='text/css')
    link(rel='stylesheet', href='../css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/et-line.css', type='text/css')
    link(rel='stylesheet', href='../css/animate.css', type='text/css')
    link(rel='stylesheet', href='../css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/fonts.css', type='text/css')
    link(rel='stylesheet', href='../css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      if lt IE 9script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Login - Layout 3 | Canvas
  body.stretched

                form(method='POST')
                  legend Reset Password
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label(for='password') New Password
                    input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
                  .form-group
                    label(for='confirm') Confirm Password
                    input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
                  .form-group
                    button.btn.btn-primary.btn-reset(type='submit')
                      i.fa.fa-keyboard-o
                      | Change Password

