doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    meta(name='csrf-token', content=_csrf)
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Login - Layout 3 | Canvas
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.full-header.transparent-header.border-full-header.dark.static-sticky(data-sticky-class='not-dark', data-sticky-offset='full', data-sticky-offset-negative='100')
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='index.html', data-dark-logo='images/canvasone-dark.png')
                img(src='images/canvasone.png', alt='Canvas Logo')
              a.retina-logo(href='index.html', data-dark-logo='images/canvasone-dark@2x.png')
                img(src='images/canvasone@2x.png', alt='Canvas Logo')
            // #logo end
            //
              Primary Navigation
              =============================================
            nav#primary-menu
              ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='65')
                li
                  a(href='#', data-href='#wrapper')
                    div Home
                li
                  a(href='#', data-href='#section-about')
                    div About
                li
                  a(href='#', data-href='#section-locations')
                    div Locations
                li
                  a(href='#', data-href='#page-title')
                    div FAQ
                if !user
                  li(class=(title == 'Login') ? 'active' : undefined)
                    a(href='/login') 
                      div Sign In
                else    
                  li.sub-menu
                    a(href='#')
                      div='' + ((user.profile && user.profile.name) || user.email || user.id)
                    ul(style='display: none')
                      li
                        a.sf-with-ul(href='/account')
                          div My account
                      li
                        a.sf-with-ul(href='/logout')
                          div Logout
                li
                  a(href='/contact') Apply Now
                #side-panel-trigger.side-panel-trigger
                  a(href='#')
                    i.icon-reorder
            // #primary-menu end
      // #header end
        Content
        =============================================
      section#content
        .content-wrap
          .container.clearfix
            .accordion.accordion-lg.divcenter.nobottommargin.clearfix(style='max-width: 550px;')
              .acctitle
                i.acc-closed.icon-lock3
                i.acc-open.icon-unlock
                | Login to your Account
              .acc_content.clearfix
                form#login-form.nobottommargin(name='login-form', action='#', method='post')
                  .col_full
                    label(for='login-form-username') Username:
                    input#login-form-username.form-control(type='text', name='login-form-username', value='')
                  .col_full
                    label(for='login-form-password') Password:
                    input#login-form-password.form-control(type='password', name='login-form-password', value='')
                  .col_full.nobottommargin
                    button#login-form-submit.button.button-3d.button-black.nomargin(name='login-form-submit', value='login') Login
                    a.fright(href='#') Forgot Password?
              .acctitle
                i.acc-closed.icon-user4
                i.acc-open.icon-ok-sign
                | New Signup? Register for an Account
              .acc_content.clearfix
                form#register-form.nobottommargin(name='register-form', action='#', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .col_full
                    label(for='email') Email Address:
                    input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                  .col_full
                    label(for='password') Choose Password:
                    input.form-control(type='password', name='password', id='password', placeholder='Password', required)
                  .col_full
                    label(for='confirmPassword') Re-enter Password:
                    input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
                  .col_full.nobottommargin
                    button#register-form-submit.button.button-3d.button-black.nomargin(name='register-form-submit', value='register', type='submit' ) Register Now
      // #content end
      //
      Footer
      =============================================
    footer#footer.dark.noborder
      .container.center
        .footer-widgets-wrap
          .row.divcenter.clearfix
            .col-md-4
              .widget.clearfix
                h4 Site Links
                ul.list-unstyled.footer-site-links.nobottommargin
                  li
                    a(href='#', data-scrollto='#wrapper', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') Top
                  li
                    a(href='#', data-scrollto='#section-about', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') About
                  li
                    a(href='#', data-scrollto='#section-works', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') Works
                  li
                    a(href='#', data-scrollto='#section-services', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') Services
                  li
                    a(href='#', data-scrollto='#section-blog', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') Blog
                  li
                    a(href='#', data-scrollto='#section-contact', data-easing='easeInOutExpo', data-speed='1250', data-offset='70') Contact
            .col-md-4
              .widget.subscribe-widget.clearfix(data-loader='button')
                h4 Subscribe
                .widget-subscribe-form-result
                form#widget-subscribe-form.nobottommargin(action='../include/subscribe.php', role='form', method='post')
                  input#widget-subscribe-form-email.form-control.input-lg.not-dark.required.email(type='email', name='widget-subscribe-form-email', placeholder='Your Email Address')
                  button.button.button-border.button-circle.button-light.topmargin-sm(type='submit') Subscribe Now
            .col-md-4
              .widget.clearfix
                h4 Contact
                p.lead
                  | 795 Folsom Ave, Suite 600
                  br
                  | San Francisco, CA 94107
                .center.topmargin-sm
                  a.social-icon.inline-block.noborder.si-small.si-facebook(href='#', title='Facebook')
                    i.icon-facebook
                    i.icon-facebook
                  a.social-icon.inline-block.noborder.si-small.si-twitter(href='#', title='Twitter')
                    i.icon-twitter
                    i.icon-twitter
                  a.social-icon.inline-block.noborder.si-small.si-github(href='#', title='Github')
                    i.icon-github
                    i.icon-github
                  a.social-icon.inline-block.noborder.si-small.si-pinterest(href='#', title='Pinterest')
                    i.icon-pinterest
                    i.icon-pinterest
      #copyrights
        .container.center.clearfix Copyright Roomtini 2016 | All Rights Reserved
    // #footer end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='js/functions.js')
