nav#primary-menu.with-arrows.clearfix.not-dark
  ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
    
    //li
      a(href='#', data-href='#wrapper')
        div Home
    //
      <li><a href="#" data-href="#section-nextgen"><div>Explore</div></a>
      <ul>
      <li><a href="#" data-href="#section-nextgen"><div>NextGen Framework</div></a></li>
      <li><a href="#" data-href="#section-stunning-graphics"><div>Stunning Graphics</div></a></li>
      <li><a href="#" data-href="#section-secured-solutions"><div>Secured Solutions</div></a></li>
      </ul>
      </li>
      <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
  ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
    li
      a(href='#', data-href='#wrapper')
        div Home
    li
      a(href='#', data-href='#section-first_para')
        div About
    li
      a(href='/locations')
        div Locations
    li
      a(href='#', data-href='#section-faqs')
        div FAQs
    if !user
      li
        a(href='/login')
          div Login
    else 
      li
        a(href='#')
          div='' + ((user.profile && user.profile.name) || user.email || user.id)
        ul
          li
            a(href='/account')
              div My account
          li
            a(href='/logout')
              div Logout
    if !user
      li.menu-item-emphasis(style='', id="applybutton")
        a(href='/signup', style='', id="applynow")
          div Apply Now
// #primary-menu end