head
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(name='author', content='SemiColonWeb')
  //
    Stylesheets
    =============================================
  link(href='http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/new/bootstrap.css', type='text/css')
  link(rel='stylesheet', href='/new/style.css', type='text/css')
  link(rel='stylesheet', href='/new/dark.css', type='text/css')
  // <link rel="stylesheet" type="text/css" href="one-page/onepage.css">
  // Media Agency Demo Specific Stylesheet
  link(rel='stylesheet', href='/new/app-landing.css', type='text/css')
  // /
  link(rel='stylesheet', href='/new/font-icons.css', type='text/css')
  link(rel='stylesheet', href='/new/et-line.css', type='text/css')
  link(rel='stylesheet', href='/new/animate.css', type='text/css')
  link(rel='stylesheet', href='/new/magnific-popup.css', type='text/css')
  link(rel='stylesheet', href='/new/fonts.css', type='text/css')
  // Bootstrap Switch CSS
  link(rel='stylesheet', href='css/components/bs-switches.css', type='text/css')
  link(rel='stylesheet', href='/new/responsive.css', type='text/css')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //if lt IE 9
    script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
  link(rel='stylesheet', href='/new/colors.css', type='text/css')
  // Core CSS file
  link(rel='stylesheet', href='/new/photoswipe.css')
  //
    Skin CSS file (styling of UI - buttons, caption, etc.)
    In the folder of skin CSS file there are also:
    - .png and .svg icons sprite,
    - preloader.gif (for browsers that do not support CSS animations)
  link(rel='stylesheet', href='/new/default-skin.css')
  link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel="stylesheet", type="text/css")

  link(rel="stylesheet", type="text/css", href="/new/faq/style.css")
  link(href="https://fonts.googleapis.com/css?family=Lato",rel="stylesheet")
  link(href="/new/maps.css",rel="stylesheet")
  //
    Document Title
    =============================================
  title Roomtini | High class living without the high Price
  style(type='text/css').
    .big-video-button {
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 50%;
    background-color: #333;
    color: #F5F5F5 !important;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    }
    .big-video-button:hover { opacity: 0.9; }
    .dark .big-video-button,
    .big-video-button.dark {
    background-color: #F5F5F5;
    color: #333 !important;
    text-shadow: none;
    }
    .big-video-button i:nth-of-type(1) {
    position: relative;
    left: 3px;
    }
    .big-video-button i:nth-of-type(2),
    .big-video-button.video-played i:nth-of-type(1) { display: none; }
    .big-video-button.video-played i:nth-of-type(2) { display: block; }
    .big-video-button.video-played { opacity: 0.1; }
    #slider:hover .big-video-button.video-played { opacity: 1; }
    .videoplay-on-hover .vertical-middle { z-index: 2; }
    .videoplay-on-hover .video-wrap { z-index: 1; }
    .videoplay-on-hover .vertical-middle h2 {
    font-size: 40px;
    font-weight: bold;
    }
    .device-xs .videoplay-on-hover .vertical-middle h2 { font-size: 32px; }
    .device-xxs .videoplay-on-hover .vertical-middle h2 { font-size: 26px; }
    .accordion.accordion-border {
    border: 0px solid #DDD;
    border-radius: 0px;
    }
    .accordion {
    margin-bottom: 0px;
    }
    .panel-body {
    padding: 0px;
    }
    .panel-heading {
    background-color: #267DF4 !important;
    color: white !important;
    }
    .panel-heading > span {
    font-weight: bold;
    padding-left: 22px;
    }
    .pricing-box {
    padding: 0px;
    margin: 0px;
    height: 650px;
    margin-bottom: 40px;
    border-radius:5px !important;
    }
    .property-img {
    height: 230px; width: 100%;
    }
    .property-info {
    background-color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 26px;
    padding-bottom: 13px;
    color: #4a4a4a;
    height: 270px;
    font-family:Lato;
    }
    .property-button {
    height: 54px;
    background-color: #267DF4;
    color: black;
    line-height: 54px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    position: relative;
    }
    .property-button > a {
    color: white;
    }
    .border-form-control {
    height: 48px;
    padding: 8px 4px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: transparent !important;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom-width: 1px;
    font-family: 'Montserrat', sans-serif;
    }
    textarea.border-form-control {
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    }
    .hhidden {
      overflow: hidden;
    }
    #g181,#gLS { cursor: pointer; cursor: hand; color: #267DF4; }
    #applybutton {
      margin-left:20px !important;
    }
    @media only screen and (min-width:768px) and (max-width: 992px) {
      .ccenter {
        text-align: center;
      }

      /*.menu-item-emphasis a{
        background-color:white;
      }*/
    }
    .cd-faq-group .cd-faq-title h2 {
      font-size: 12px;
    }
    .cd-faq-categories a {
      font-size: 12px;
    }
    .cd-faq-group {
      list-style-type: none;
    }
    .cd-faq-group > li {        
      border-radius: 4px;
    }
    .cd-faq-content p {
      font-size: 14px;
      font-family: 'Lato';
    }

    .cd-faq-trigger {
      font-family: 'Lato';
      font-weight: bold;
      color: #6a7989 !important;
    }
    .lato {
      font-family:Lato;
    }
    .one-page-menu > li > a > div {
      font-weight: bold;
    }
    .fill-denim {
        background: #50667f;
    }
    *{font-family:Lato;}