doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='../style.css', type='text/css')
    link(rel='stylesheet', href='../css/dark.css', type='text/css')
    link(rel='stylesheet', href='../css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='../css/animate.css', type='text/css')
    link(rel='stylesheet', href='../css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='../css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title 404 - Roomtini
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.transparent-header.page-section.dark
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='/', data-dark-logo='images/logo-dark.png')
                img(src='images/logo.png', alt='Canvas Logo')
              a.retina-logo(href='index.html', data-dark-logo='images/logo-dark@2x.png')
                img(src='images/logo@2x.png', alt='Canvas Logo')
            // #logo end
      // #header end
      section#slider.slider-parallax.full-screen.dark.error404-wrap(style='background: url(images/landing/static.jpg) center;')
        .slider-parallax-inner
          .container.vertical-middle.center.clearfix
            .error404 404
            .heading-block.nobottomborder
              h4 Ooopps.! The Page you were looking for, couldn't be found.
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='../js/jquery.js')
    script(type='text/javascript', src='../js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='../js/functions.js')
