doctype html
html.app(lang='en')
  head
    meta(charset='utf-8')
    title Roomtini | Admin
    meta(name='description', content='app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/css/animate.css', type='text/css')
    link(rel='stylesheet', href='/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/icon.css', type='text/css')
    link(rel='stylesheet', href='/css/font.css', type='text/css')
    link(rel='stylesheet', href='/css/app.v1.css', type='text/css')
    link(rel='stylesheet', href='/css/nestable/nestable.css', type='text/css')
    link(rel='stylesheet', type='text/css', href='http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    //if lt IE 9
      script(src='js/ie/html5shiv.js')
      script(src='js/ie/respond.min.js')
      script(src='js/ie/excanvas.js')
    style(type='text/css').
      .pp {
      background-color: #177bbb !important;
      }
      .aa {
      background-color: #12141b !important;
      }
      .pp,.dd-item > button,.aa,.dd-handle > .pull-right > a > i {
      color: white !important;
      }
      .placeholder {
      outline: 1px dashed #4183C4;
      }
      .mjs-nestedSortable-error {
      background: #fbe3e4;
      border-color: transparent;
      }
      .dd-handle > i {
      cursor: pointer;
      padding: 5px;
      }
      li.mjs-nestedSortable-collapsed > ol {
      display: none;
      }
      #nestable2 {
      min-height: 40px;outline: 1px dashed #4183C4;padding: 2px;
      }
      #nestable2:empty::after
      {
      outline: 1px dashed #4183C4;
      }
  body
    section.vbox
      header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
        .navbar-header.aside-md.dk
          a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
            i.fa.fa-bars
          a.navbar-brand(href='index.html')
            img.m-r-sm(src='/images/logo.png', alt='scale')
            span.hidden-nav-xs Roomtini
          a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
            i.fa.fa-cog
        ul.nav.navbar-nav.hidden-xs
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.i.i-grid
            section.dropdown-menu.aside-lg.bg-white.on.animated.fadeInLeft
              .row.m-l-none.m-r-none.m-t.m-b.text-center
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-mail.i-2x.text-primary-lt
                      small.text-muted Mailbox
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-calendar.i-2x.text-danger-lt
                      small.text-muted Calendar
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-map.i-2x.text-success-lt
                      small.text-muted Map
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-paperplane.i-2x.text-info-lt
                      small.text-muted Trainning
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-images.i-2x.text-muted
                      small.text-muted Photos
                .col-xs-4
                  .padder-v
                    a(href='#')
                      span.m-b-xs.block
                        i.i.i-clock.i-2x.text-warning-lter
                      small.text-muted Timeline
        form.navbar-form.navbar-left.input-s-lg.m-t.m-l-n-xs.hidden-xs(role='search')
          .form-group
            .input-group
              span.input-group-btn
                button.btn.btn-sm.bg-white.b-white.btn-icon(type='submit')
                  i.fa.fa-search
              input#autocomplete-ajax.form-control.input-sm.no-border(type='text', placeholder='Search name', spellcheck='false', autocomplete='off')
        ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
          //
            <li class="hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="i i-chat3"></i> <span class="badge badge-sm up bg-danger count">2</span> </a>
            <section class="dropdown-menu aside-xl animated flipInY">
            <section class="panel bg-white">
            <div class="panel-heading b-light bg-light"> <strong>You have <span class="count">2</span> notifications</strong> </div>
            <div class="list-group list-group-alt">
            <a href="#" class="media list-group-item"> <span class="pull-left thumb-sm"> <img src="/images/a0.png" alt="..." class="img-circle"> </span> <span class="media-body block m-b-none"> Use awesome animate.css<br> <small class="text-muted">10 minutes ago</small> </span> </a>
            <a href="#" class="media list-group-item"> <span class="media-body block m-b-none"> 1.0 initial released<br> <small class="text-muted">1 hour ago</small> </span> </a>
            </div>
            <div class="panel-footer text-sm"> <a href="#" class="pull-right"><i class="fa fa-cog"></i></a> <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a> </div>
            </section>
            </section>
            </li>
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.thumb-sm.avatar.pull-left
                img(src='/images/a0.png', alt='...')
              |  John.Ho 
              b.caret
            ul.dropdown-menu.animated.fadeInRight
              li
                span.arrow.top
                a(href='#') Settings
              li
                a(href='#') Profile
              li
                a(href='#')
                  span.badge.bg-danger.pull-right 3
                  |  Notifications
              li
                a(href='#') Help
              li.divider
              li
                a(href='#') Logout
      section
        section.hbox.stretch
          //
            <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
            <section class="vbox">
            <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
            <div class="clearfix wrapper dk nav-user hidden-xs">
            <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb avatar pull-left m-r"> <img src="/images/a0.png" class="dker" alt="..."> <i class="on md b-black"></i> </span> <span class="hidden-nav-xs clear"> <span class="block m-t-xs"> <strong class="font-bold text-lt">John.Smith</strong> <b class="caret"></b> </span> <span class="text-muted text-xs block">Art Director</span> </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li> <span class="arrow top hidden-nav-xs"></span> <a href="#">Settings</a> </li>
            <li> <a href="profile.html">Profile</a> </li>
            <li>
            <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a>
            </li>
            <li> <a href="docs.html">Help</a> </li>
            <li class="divider"></li>
            <li> <a href="modal.lockme.html" data-toggle="ajaxModal">Logout</a> </li>
            </ul>
            </div>
            </div>
            <nav class="nav-primary hidden-xs">
            <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Start</div>
            <ul class="nav nav-main" data-ride="collapse">
            <li>
            <a href="index.html" class="auto"> <i class="i i-statistics icon"> </i> <span class="font-bold">Overview</span> </a>
            </li>
            <li>
            <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <b class="badge bg-danger pull-right">4</b> <i class="i i-stack icon"> </i> <span class="font-bold">Layouts</span> </a>
            <ul class="nav dk">
            <li>
            <a href="layout-color.html" class="auto"> <i class="i i-dot"></i> <span>Color option</span> </a>
            </li>
            <li>
            <a href="layout-hbox.html" class="auto"> <i class="i i-dot"></i> <span>Hbox layout</span> </a>
            </li>
            <li>
            <a href="layout-boxed.html" class="auto"> <i class="i i-dot"></i> <span>Boxed layout</span> </a>
            </li>
            <li>
            <a href="layout-fluid.html" class="auto"> <i class="i i-dot"></i> <span>Fluid layout</span> </a>
            </li>
            </ul>
            </li>
            <li>
            <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-lab icon"> </i> <span class="font-bold">UI kit</span> </a>
            <ul class="nav dk">
            <li>
            <a href="buttons.html" class="auto"> <i class="i i-dot"></i> <span>Buttons</span> </a>
            </li>
            <li>
            <a href="icons.html" class="auto"> <b class="badge bg-info pull-right">3</b> <i class="i i-dot"></i> <span>Icons</span> </a>
            </li>
            <li>
            <a href="grid.html" class="auto"> <i class="i i-dot"></i> <span>Grid</span> </a>
            </li>
            <li>
            <a href="widgets.html" class="auto"> <b class="badge bg-dark pull-right">8</b> <i class="i i-dot"></i> <span>Widgets</span> </a>
            </li>
            <li>
            <a href="components.html" class="auto"> <i class="i i-dot"></i> <span>Components</span> </a>
            </li>
            <li>
            <a href="list.html" class="auto"> <i class="i i-dot"></i> <span>List group</span> </a>
            </li>
            <li>
            <a href="#table" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-dot"></i> <span>Table</span> </a>
            <ul class="nav dker">
            <li>
            <a href="table-static.html"> <i class="i i-dot"></i> <span>Table static</span> </a>
            </li>
            <li>
            <a href="table-datatable.html"> <b class="label bg-dark pull-right">1.10</b> <i class="i i-dot"></i> <span>Datatable</span> </a>
            </li>
            </ul>
            </li>
            <li>
            <a href="#form" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-dot"></i> <span>Form</span> </a>
            <ul class="nav dker">
            <li>
            <a href="form-elements.html"> <i class="i i-dot"></i> <span>Form elements</span> </a>
            </li>
            <li>
            <a href="form-validation.html"> <i class="i i-dot"></i> <span>Form validation</span> </a>
            </li>
            <li>
            <a href="form-wizard.html"> <i class="i i-dot"></i> <span>Form wizard</span> </a>
            </li>
            </ul>
            </li>
            <li>
            <a href="chart.html" class="auto"> <i class="i i-dot"></i> <span>Chart</span> </a>
            </li>
            <li>
            <a href="portlet.html" class="auto"> <i class="i i-dot"></i> <span>Portlet</span> </a>
            </li>
            <li>
            <a href="timeline.html" class="auto"> <i class="i i-dot"></i> <span>Timeline</span> </a>
            </li>
            </ul>
            </li>
            <li class="active">
            <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-docs icon"> </i> <span class="font-bold">Pages</span> </a>
            <ul class="nav dk">
            <li>
            <a href="profile.html" class="auto"> <i class="i i-dot"></i> <span>Profile</span> </a>
            </li>
            <li class="active">
            <a href="profile-2.html" class="auto"> <i class="i i-dot"></i> <span>Profile 2</span> </a>
            </li>
            <li>
            <a href="search.html" class="auto"> <i class="i i-dot"></i> <span>Search</span> </a>
            </li>
            <li>
            <a href="invoice.html" class="auto"> <i class="i i-dot"></i> <span>Invoice</span> </a>
            </li>
            <li>
            <a href="intro.html" class="auto"> <i class="i i-dot"></i> <span>Intro</span> </a>
            </li>
            <li>
            <a href="master.html" class="auto"> <i class="i i-dot"></i> <span>Master</span> </a>
            </li>
            <li>
            <a href="gmap.html" class="auto"> <i class="i i-dot"></i> <span>Google Map</span> </a>
            </li>
            <li>
            <a href="jvectormap.html" class="auto"> <i class="i i-dot"></i> <span>Vector Map</span> </a>
            </li>
            <li>
            <a href="signin.html" class="auto"> <i class="i i-dot"></i> <span>Signin</span> </a>
            </li>
            <li>
            <a href="signup.html" class="auto"> <i class="i i-dot"></i> <span>Signup</span> </a>
            </li>
            <li>
            <a href="404.html" class="auto"> <i class="i i-dot"></i> <span>404</span> </a>
            </li>
            </ul>
            </li>
            <li>
            <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-grid2 icon"> </i> <span class="font-bold">Apps</span> </a>
            <ul class="nav dk">
            <li>
            <a href="mail.html" class="auto"> <b class="badge bg-success lt pull-right">2</b> <i class="i i-dot"></i> <span>Mailbox</span> </a>
            </li>
            <li>
            <a href="fullcalendar.html" class="auto"> <i class="i i-dot"></i> <span>Calendar</span> </a>
            </li>
            <li>
            <a href="project.html" class="auto"> <i class="i i-dot"></i> <span>Project</span> </a>
            </li>
            <li>
            <a href="media.html" class="auto"> <i class="i i-dot"></i> <span>Media</span> </a>
            </li>
            <li>
            <a href="chat.html" class="auto"> <i class="i i-dot"></i> <span>Chat</span> </a>
            </li>
            <li>
            <a href="contacts.html" class="auto"> <i class="i i-dot"></i> <span>Contacts</span> </a>
            </li>
            <li>
            <a href="note.html" class="auto"> <i class="i i-dot"></i> <span>Note</span> </a>
            </li>
            </ul>
            </li>
            </ul>
            <div class="line dk hidden-nav-xs"></div>
            <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Lables</div>
            <ul class="nav">
            <li>
            <a href="mail.html#work"> <i class="i i-circle-sm text-info-dk"></i> <span>Work space</span> </a>
            </li>
            <li>
            <a href="mail.html#social"> <i class="i i-circle-sm text-success-dk"></i> <span>Connection</span> </a>
            </li>
            <li>
            <a href="mail.html#projects"> <i class="i i-circle-sm text-danger-dk"></i> <span>Projects</span> </a>
            </li>
            </ul>
            <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Circles</div>
            <ul class="nav">
            <li>
            <a href="#"> <i class="i i-circle-sm-o text-success-lt"></i> <span>College</span> </a>
            </li>
            <li>
            <a href="#"> <i class="i i-circle-sm-o text-warning"></i> <span>Social</span> </a>
            </li>
            </ul>
            </nav>
            </div>
            </section>
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs"> <i class="i i-logout"></i> </a>
            <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs"> <i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i> </a>
            </footer>
            </section>
            </aside>
          section#content
            section.vbox
              section.scrollable.bg-white
                .wrapper-lg.bg-light
                  .hbox
                    aside.aside-md
                      .text-center
                        img#gravatar.img-circle.m-b(src='/images/a2.png', alt='...', width='128', height='128')
                        div Profile finished
                        div
                          .progress.progress-xs.progress-striped.active.inline.m-b-none.bg-white(style='width:128px')
                            .progress-bar.bg-success(data-toggle='tooltip', data-original-title='100%', style='width: 100%')
                        p 100%
                    aside
                      p.pull-right.m-l.inline
                        a#linkedin.btn.btn-sm.btn-icon.btn-dark.rounded.m-b(href='#', target='_blank')
                          i.fa.fa-linkedin
                        a#facebook.btn.btn-sm.btn-icon.btn-primary.rounded.m-b(href='#', target='_blank')
                          i.fa.fa-facebook
                      h3#name.font-bold.m-b-none.m-t-none
                      p#email
                      p
                        i.fa.fa-lg.fa-circle-o.text-primary.m-r-sm
                        strong#designation
                      //
                        <ul class="nav nav-pills nav-stacked aside-lg">
                        <li class="bg-light dk"><a href="#"><i class="i i-phone m-r-sm"></i> Call Drew</a>
                        </li>
                        <li class="bg-light dk"><a href="#"><i class="i i-mail m-r-sm"></i> Send Email</a>
                        </li>
                        <li class="bg-light dk"><a href="#"><i class="i i-chat m-r-sm"></i> Send Message</a>
                        </li>
                        </ul>
                ul.nav.nav-tabs.m-b-n-xxs.bg-light
                  li.active
                    a.m-l(href='#candidates', data-toggle='tab')
                      | Candidates
                      span.badge.bg-primary.badge-sm.m-l-xs
                  li
                    a(href='#roommates', data-toggle='tab') Roommates
                  li
                    a(href='#uusers', data-toggle='tab') Users
                  li
                    a(href='#bio', data-toggle='tab') Bio
                  li
                    a(href='#all', data-toggle='tab') All
                .tab-content
                  #candidates.panel.tab-pane.active
                    ul#candidates_list.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
                      //
                        <li class="list-group-item">
                        <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="/images/a0.png" class="img-circle"> </a>
                        <a href="#" class="clear"> <small class="pull-right">3 minuts ago</small> <strong class="block">Drew Wllon</strong> <small>Wellcome and play this web application template ... </small> </a>
                        </li>
                  #roommates.panel.tab-pane
                    ul#roommates_list.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
                      //
                        <li class="list-group-item">
                        <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="/images/a0.png" class="img-circle"> </a>
                        <a href="#" class="clear"> <small class="pull-right">3 minuts ago</small> <strong class="block">Drew Wllon</strong> <small>Wellcome and play this web application template ... </small> </a>
                        </li>
                  #uusers.panel.tab-pane
                    ul#uusers_list.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
                      li.list-group-item
                        //
                          <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="/images/a0.png" class="img-circle"> </a>
                          <a href="#" class="clear"> <small class="pull-right">
                          <p>
                          <button id="" data-type="user-to-roommate" class="btn btn-primary btn-sm">Move to Roommate</button>
                          <button id="" data-type="user-to-candidate" class="btn btn-warning btn-sm">Move to Candidate</button>
                          </p>
                          </small> <strong class="block">aDrew Wllon</strong> <small>Wellcome and play this web application template ... </small> </a>
                  #bio.tab-pane.wrapper-lg
                    .row.m-b
                      .col-xs-6
                        small First Name
                        #first_name.text-lt.font-bold
                      .col-xs-6
                        small Last Name
                        #last_name.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Space 
                        #space.text-lt.font-bold
                      .col-xs-6
                        small Phone No.
                        #phone.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Gender 
                        #gender.text-lt.font-bold
                      .col-xs-6
                        small Age
                        #age.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Country 
                        #country.text-lt.font-bold
                      .col-xs-6
                        small Industry
                        #industry.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Tidy Scale 
                        #tidy.text-lt.font-bold
                      .col-xs-6
                        small How many Days do you cook a week?
                        #cook.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small What time do you go to work? 
                        #work_time.text-lt.font-bold
                      .col-xs-6
                        small What best describes your weekend?
                        #weekend.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small What time do you go to sleep? 
                        #sleep.text-lt.font-bold
                      .col-xs-6
                        small Do you expect a lot of Visitors?
                        #visitors.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Earliest Move in date?
                        #move_date.text-lt.font-bold
                      .col-xs-6
                        small How flexible is your move in date from the date you selected?
                        #move_date_flex.text-lt.font-bold
                    .row.m-b
                      .col-xs-6
                        small Facebook
                        #ff.text-lt.font-bold
                      .col-xs-6
                        small Linkedin
                        #ll.text-lt.font-bold
                    div
                      small Activities
                      #activities.text-lt
                    div
                      small Comfortable/perferred living with?
                      #comfortable.text-lt
                  #all.tab-pane.wrapper-lg
                    .row.m-b
                      //
                        <div class="col-sm-6">
                        <div class="dd" id="nestable1">
                        <ol class="dd-list">
                        <li class="dd-item dd-nodrag" data-id="1">
                        <div class="dd-handle pp" >Property 1</div>
                        </li>
                        <li class="dd-item dd-nodrag" data-id="2">
                        <div class="dd-handle pp">Property 2</div>
                        <ol class="dd-list">
                        <li class="dd-item" data-id="3"><div class="dd-handle aa">Appartment 1</div></li>
                        <li class="dd-item" data-id="4"><div class="dd-handle aa">Appartment 2</div></li>
                        <li class="dd-item" data-id="5">
                        <div class="dd-handle">User 1</div>
                        <ol class="dd-list">
                        <li class="dd-item" data-id="6"><div class="dd-handle">User 6</div></li>
                        <li class="dd-item" data-id="7"><div class="dd-handle">User 7</div></li>
                        <li class="dd-item" data-id="8"><div class="dd-handle">User 8</div></li>
                        </ol>
                        </li>
                        <li class="dd-item" data-id="9"><div class="dd-handle aa">Appartment 3</div></li>
                        </ol>
                        </li>
                        </ol>
                        </div>
                        </div>
                        </div>
                      .col-sm-4
                        button#add-property.btn.btn-primary Add new Property
                        button#update.btn.btn-black Update
                      .col-sm-4
                        .dd
                          ol#nestable1.dd-list.sortable
                            //
                              <li class="dd-item" id="property_11312">
                              <div class="dd-handle pp" >
                              <i class="fa fa-caret-down"></i><span class="name">Property 1</span>
                              <span class="pull-right">
                              <a href="#"><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                              <a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                              <a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a>
                              </span>
                              </div>
                              <ol></ol>
                              </li>
                              <li class="dd-item" id="property_24334">
                              <div class="dd-handle pp" >
                              <i class="fa fa-caret-down"></i><span class="name">Property 2</span>
                              </div>
                              <ol>
                              <li class="dd-item" id="apartment_14534367554">
                              <div class="dd-handle aa" ><i class="fa fa-caret-down"></i>
                              <span class="name">Apprtment 1</span>
                              <span class="pull-right">
                              <a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                              <a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a>
                              </span>
                              </div>
                              <ol></ol>
                              </li>
                              <li class="dd-item " id="apartment_6756443">
                              <div class="dd-handle aa" >
                              <i class="fa fa-caret-down"></i>Apartment 2
                              </div>
                              <ol>
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_54543">
                              <div class="dd-handle">User 1</div>
                              </li>
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_54354543">
                              <div class="dd-handle" >User 2</div>
                              </li>
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_5454543" >
                              <div class="dd-handle" >User 3</div>
                              </li>
                              </ol>
                              </li>
                              <li class="dd-item" id="apartment_876543345">
                              <div class="dd-handle aa" ><i class="fa fa-caret-down"></i>Apartment 3</div>
                              <ol></ol>
                              </li>
                              </ol>
                              </li>
                              <li class="dd-item" id="property_u9876543">
                              <div class="dd-handle pp" ><i class="fa fa-caret-down"></i>Property 3</div>
                              <ol></ol>
                              </li>
                      .col-sm-4
                        .dd
                          ol#nestable2.dd-list.sort
                            //
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_1">
                              <div class="dd-handle">User 1</div>
                              </li>
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_2">
                              <div class="dd-handle" >User 2</div>
                              </li>
                              <li class="dd-item mjs-nestedSortable-no-nesting" id="user_3">
                              <div class="dd-handle" >User 3</div>
                              </li>
            a.hide.nav-off-screen-block(href='#', data-toggle='class:nav-off-screen,open', data-target='#nav,html')
    // Bootstrap
    // App
    script(src='/js/app.v1.js')
    script(src='/js/charts/easypiechart/jquery.easy-pie-chart.js')
    script(src='/js/app.plugin.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.autocomplete.min.js')
    //
      <script src="js/sortable/jquery.sortable.js"></script>
      <script src="js/nestable/ns.js"></script>
      <script src="js/nestable/jquery.nestable.js"></script>
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
    // <script src="http://ilikenwf.github.io/jquery.mjs.nestedSortable.js"></script>
    script(type='text/javascript', src='js/jquery.mjs.nestedSortable.js')
    script(type='text/javascript').
      Array.prototype.remove = function() {
      var what, a = arguments, L = a.length, ax;
      while (L && this.length) {
      what = a[--L];
      while ((ax = this.indexOf(what)) !== -1) {
      this.splice(ax, 1);
      }
      }
      return this;
      };
      function generateUUID() {
      var d = new Date().getTime();
      var uuid = 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x3|0x8)).toString(16);
      });
      return uuid;
      };
      function update(suggestion) {
      $.getJSON('/user/' + suggestion.data, function(o) {
      console.log(o);
      $('#name').text(o.typeform['29877943'] + ' ' + o.typeform['29878535']);
      $('#email').text(o.email || ((user.profile && user.profile.name) || user.email || user._id));
      $('#designation').text(o.typeform['29877954']);
      $('#gravatar').attr('src', (o.profile && o.profile.picture) || o.gravatar);
      $("#facebook").attr("href", o.typeform['34719475']);
      $("#linkedin").attr("href", o.typeform['34719491']);
      $("#candidates_list,#roommates_list,#uusers_list").empty();
      $('#first_name').text(o.typeform['29877943']);
      $('#last_name').text(o.typeform['29878535']);
      $('#space').text(o.typeform['29877944']);
      $('#phone').text(o.typeform['29878581']);
      $('#gender').text(o.typeform['29877946']);
      $('#age').text(o.typeform['29877951']);
      $('#country').text(o.typeform['29877953']);
      $('#industry').text(o.typeform['29877954']);
      $('#tidy').text(o.typeform['29879208']);
      $('#cook').text(o.typeform['34693974']);
      $('#work_time').text(o.typeform['34694137']);
      $('#weekend').text(o.typeform['34694257']);
      $('#sleep').text(o.typeform['34694303']);
      $('#visitors').text(o.typeform['34694062']);
      $('#work_time').text(o.typeform['34694137']);
      $('#move_date').text(o.typeform['29878649']);
      $('#move_date_flex').text(o.typeform['29878703']);
      $('#ff').text(o.typeform['34719475']);
      $('#ll').text(o.typeform['34719491']);
      o.typeform['29879066'].forEach(function(elements){
      $("#activities").append('<p><strong>'+elements+'</strong></p>')
      });
      o.typeform['29879310'].forEach(function(elements){
      $("#comfortable").append('<p><strong>'+elements+'</strong></p>')
      });
      for(var ii = 0; ii < o.possible_candidates.length; ii++) {
      $("#candidates_list").append('<li class="list-group-item"> <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="' + o.possible_candidates[ii].gravatar + '" class="img-circle"> </a> <a href="#" class="clear"> <small class="pull-right"><p><button id="' + o.possible_candidates[ii]._id + '" class="btn btn-danger btn-sm m-r-sm candidate-remove">Remove</button></p></small> <strong class="block">' + o.possible_candidates[ii].typeform['29877943'] + ' ' + o.possible_candidates[ii].typeform['29878535'] + '</strong> <small>' + o.possible_candidates[ii].typeform['29877954'] + '</small> </a> </li>');
      }
      for(var ii = 0; ii < o.roommates.length; ii++) {
      $("#roommates_list").append('<li class="list-group-item"> <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="' + o.roommates[ii].gravatar + '" class="img-circle"> </a> <a href="#" class="clear"> <small class="pull-right"><p><button id="' + o.roommates[ii]._id + '"  class="btn btn-danger btn-sm m-r-sm roommate-remove">Remove</button></p></small> <strong class="block">' + o.roommates[ii].typeform['29877943'] + ' ' + o.roommates[ii].typeform['29878535'] + '</strong> <small>' + o.roommates[ii].typeform['29877954'] + '</small> </a> </li>');
      }
      var _r = (o.possible_candidates.map(function(q) { return q._id})).concat(o.roommates.map(function(q) { return q._id}));
      $.getJSON('/users', function(u) {
      var remaining_users = (u.filter(function(t) {  return _r.indexOf(t._id) < 0; })).filter(function(o) { return o._id != suggestion.data ;});
      for(var ii = 0; ii < remaining_users.length; ii++) {
      $("#uusers_list").append('<li class="list-group-item"> <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="' + remaining_users[ii].gravatar + '" class="img-circle"> </a> <a href="#" class="clear"> <small class="pull-right"><p><button id="' + remaining_users[ii]._id + '" class="btn btn-primary btn-sm m-r-sm user-to-roommate">Move to Roommate</button><button id="' + remaining_users[ii]._id + '" class="btn btn-warning btn-sm user-to-candidate">Move to Candidate</button></p></small> <strong class="block">' + remaining_users[ii].typeform['29877943'] + ' ' + remaining_users[ii].typeform['29878535'] + '</strong> <small>' + remaining_users[ii].typeform['29877954'] + '</small> </a> </li>');
      }
      });
      });
      };
      // Initialize ajax autocomplete:
      $('#autocomplete-ajax')
      .autocomplete({
      serviceUrl: '/Et2TupiuqxcPH6F3YxefgAVzI3zwQjiUMgh/users/search',
      //lookup: countriesArray,
      lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
      var re = new RegExp('\\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
      return re.test(suggestion.value);
      },
      onSelect: function(suggestion) {
      //alert(suggestion.data);
      window._id = suggestion.data;
      update(suggestion)
      },
      onHint: function (hint) {
      $('#autocomplete-ajax-x').val(hint);
      },
      onInvalidateSelection: function() {
      $('#selction-ajax').html('You selected: none');
      }
      });
      $("body").delegate(".user-to-candidate", "click", function() {
      //console.log('user-to-candidate ', $(this).attr('id'));
      $.ajax({
      url: '/VpwukbSKnTVwTwYr8nVrw5MC3xwIybl5XnQ/user/' + window._id + '?type=add-candidate&which=' + $(this).attr('id'),
      type: 'PUT',
      success: function(result) {
      update({ data: result });
      }
      });
      });
      $("body").delegate(".user-to-roommate", "click", function() {
      // console.log('user-to-roommate ', $(this).attr('id'));
      $.ajax({
      url: '/VpwukbSKnTVwTwYr8nVrw5MC3xwIybl5XnQ/user/' + window._id + '?type=add-roommate&which=' + $(this).attr('id'),
      type: 'PUT',
      success: function(result) {
      update({ data: result });
      }
      });
      });
      $("body").delegate(".roommate-remove", "click", function() {
      //console.log('roommate-remove ', $(this).attr('id'));
      $.ajax({
      url: '/VpwukbSKnTVwTwYr8nVrw5MC3xwIybl5XnQ/user/' + window._id + '?type=remove-roommate&which=' + $(this).attr('id'),
      type: 'PUT',
      success: function(result) {
      update({ data: result });
      }
      });
      });
      $("body").delegate(".candidate-remove", "click", function() {
      //console.log('remove-candidate ', $(this).attr('id'));
      $.ajax({
      url: '/VpwukbSKnTVwTwYr8nVrw5MC3xwIybl5XnQ/user/' + window._id + '?type=remove-candidate&which=' + $(this).attr('id'),
      type: 'PUT',
      success: function(result) {
      update({ data: result });
      }
      });
      });
      function list_update() {
      $('.dd-handle').each(function(i, obj) {
      if($(obj).next('ol').children().length == 0) {
      //console.log('hide ', console.log($(obj.parentNode).attr('data-id')))
      $(obj).children(":first").attr('style','display: none');
      }
      else if($(obj).next('ol').children().length > 0) {
      //console.log('show ', console.log($(obj.parentNode).attr('data-id')))
      $(obj).children(":first").attr('style','display: inline-block');
      }
      });
      };
      $(document).ready(function(){
      $('ol.sort').nestedSortable({
      disableNesting: 'no-nest',
      //forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      maxLevels: 3,
      opacity: .6,
      placeholder: 'placeholder',
      revert: 1,
      tabSize: 25,
      tolerance: 'pointer',
      toleranceElement: '> div',
      //protectRoot: true,
      disableNestingClass: 'mjs-nestedSortable-no-nesting',
      connectWith: '.sortable',
      receive: function(event, ui){ console.log('recieve sort')
      if(($(ui.item).attr('id').startsWith('user')) === false) ui.sender.sortable("cancel");
      },
      remove: function(event, ui){
      console.log('remove sort')
      //event.preventDefault();
      },
      isAllowed : function(placeholder, placeholderParent, currentItem) {
      return true;
      },
      });
      $('ol.sortable').nestedSortable({
      disableNesting: 'no-nest',
      //forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      maxLevels: 3,
      opacity: .6,
      placeholder: 'placeholder',
      revert: 1,
      tabSize: 25,
      tolerance: 'pointer',
      toleranceElement: 'div',
      protectRoot: true,
      disableNestingClass: 'mjs-nestedSortable-no-nesting',
      connectWith: '.sort',
      change: function(a,b,c) {
      console.log('change sortable',a,b,c)
      },
      update: function(event, ui, ok){
      console.log('update sortable', event, ui, ok)
      },
      receive: function(event, ui, ok){
      //console.log('receive sortable', event, ui, $(this).parent().attr("id"), this, $(this))
      var ele = document.elementFromPoint(ui.position.left, ui.position.top);
      var newEle = ui.item.clone();
      //newEle.attr("id", "");
      $(ele).after(newEle);
      },
      remove: function(event, ui){
      console.log('remove sortable')
      //event.preventDefault();
      },
      stop: function(event, ui,c)
      {
      console.log('stop', event, ui,c)
      },
      isAllowed : function(placeholder, placeholderParent, currentItem) {
      if(currentItem && placeholderParent){
      if($(currentItem).attr('id').startsWith('apartment') && $(placeholderParent).attr('id').startsWith('property')) return true;
      if($(currentItem).attr('id').startsWith('user') && $(placeholderParent).attr('id').startsWith('apartment')) {
      console.log('user moved to list1');
      return true;
      }
      if($(currentItem).attr('id').startsWith('user') && $(placeholderParent).attr('id').startsWith('property')) return false;
      if($(currentItem).attr('id').startsWith('apartment') && $(placeholderParent).attr('id').startsWith('apartment'))return false;
      }
      else return true;
      },
      });
      /*$('ol.sortable').nestedSortable({
      handle: 'div',
      items: 'li',
      toleranceElement: '> div',
      forcePlaceholderSize: true,
      placeholder: 'placeholder',
      tolerance: 'pointer',
      opacity: .6,
      stop: function() {
      setTimeout(list_update, 300);
      },
      //maxLevels: 3,
      protectRoot: true,
      disableNestingClass: 'mjs-nestedSortable-no-nesting',
      isAllowed : function(placeholder, placeholderParent, currentItem) {
      //console.log(item, parent);
      //console.log("parent ",$(placeholderParent).attr('data-id'))
      //console.log("item ",$(currentItem).attr('data-id'))
      if(currentItem && placeholderParent) {
      if($(currentItem).attr('data-id').startsWith('apartment') && $(placeholderParent).attr('data-id').startsWith('property')) return true;
      if($(currentItem).attr('data-id').startsWith('user') && $(placeholderParent).attr('data-id').startsWith('apartment')) return true;
      if($(currentItem).attr('data-id').startsWith('user') && $(placeholderParent).attr('data-id').startsWith('property')) return false;
      if($(currentItem).attr('data-id').startsWith('apartment') && $(placeholderParent).attr('data-id').startsWith('apartment')) return false;
      }
      else return true;
      },
      isTree: false,
      connectWith: '.sort',
      helper: 'clone',
      receive: function(event, ui){
      var ele = document.elementFromPoint(ui.position.left, ui.position.top);
      var newEle = ui.item.clone();
      newEle.attr("id", "");
      $(ele).after(newEle);
      },
      remove: function(event, ui){
      event.preventDefault();
      }
      //startCollapsed : true
      });*/
      //icon chnage tree
      $(document).on("click", ".dd-handle > .fa-caret-down, .dd-handle > .fa-plus", function() {
      /*$(this.parentNode.parentNode).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');*/
      $(this).toggleClass('fa-caret-down').toggleClass('fa-plus');
      $(this.parentNode).next().slideToggle()
      });
      // add Appartment
      $(document).on("click", ".dd-handle > .pull-right > a > i.fa-plus", function(e) {
      var Appartment = prompt("Please enter name of new apartment");
      if(Appartment) {
      $($(this.parentNode.parentNode.parentNode).next('ol')[0])
      .prepend('<li class="dd-item" id="apartment_'+generateUUID()+'"><div class="dd-handle aa" ><i class="fa fa-caret-down"></i><span class="name">'+Appartment+'</span><span class="pull-right"><a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a></span></div><ol></ol></li>');
      list_update();
      }
      });
      // add Property
      $(document).on("click", "#add-property", function(e) {
      var Property = prompt("Please enter name of new Property");
      if(Property) {
      $('#nestable1')
      .prepend('<li class="dd-item" id="property_'+generateUUID()+'"> <div class="dd-handle pp" ><i class="fa fa-caret-down"></i><span class="name">'+Property+'</span><span class="pull-right"><a href="#"><i class="fa fa-plus fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a></span></div><ol class="random"></ol></li>');
      list_update();
      }
      });
      //edit
      $(document).on('click', '.dd-handle > .pull-right > a > i.fa-pencil', function () {
      var newname = prompt("Please enter new name");
      if(newname )
      $($(this.parentNode.parentNode.parentNode).find('span.name')).text(newname);
      });
      //delete
      $(document).on('click', '.dd-handle > .pull-right > a > i.fa-times', function (e) {
      var tree = $('ol.sortable').nestedSortable('toHierarchy', {startDepthCount: 1, /*attribute: 'id'*/ });
      var id = ($(this.parentNode.parentNode.parentNode.parentNode).attr('id')).split("_")[1];
      console.log(id, tree);
      var deleted_items = {};
      tree.forEach(function(i){
      if(i.id === id && i.children) {
      i.children.forEach(function(j){
      if(j.children) {
      j.children.forEach(function(k) {
      deleted_items[k.id] = $('#user_'+k.id+' > .dd-handle').text();
      });
      }
      });
      }
      });
      tree.forEach(function(i){
      if(i.children)
      i.children.forEach(function(q){
      if(q.id === id && q.children) {
      q.children.forEach(function(w) {
      deleted_items[w.id] = $('#user_'+w.id+' > .dd-handle').text();
      console.log($('#'+w.id));
      });
      }
      });
      });
      setTimeout(function(){ console.log(deleted_items);}, 2000)
      $(this.parentNode.parentNode.parentNode.parentNode).remove();
      for (var id in deleted_items) {
      $('#nestable2')
      .prepend('<li class="dd-item mjs-nestedSortable-no-nesting" id="user_'+id+'"> <div class="dd-handle">'+deleted_items[id] +'</div> </li>');
      }
      });
      function reload_view_list() {
      $.getJSON('/douvG64nHlGDzT1anA1kYn8huGZMUCnaVQe/users', function(u) {
      var list1 = u.filter(function(j){ return j.apartment && j.property; });
      var list2 = u.filter(function(i){ return !(i.apartment && i.property); });
      $('#nestable1,#nestable2').empty();
      //console.log(list1, list2);
      list2.forEach(function(i){
      $('#nestable2')
      .prepend('<li class="dd-item mjs-nestedSortable-no-nesting" id="user_'+i._id+'"> <div class="dd-handle">'+i.typeform["29877943"] + " " + i.typeform["29878535"] +'</div> </li>');
      });
      list1.forEach(function(o){
      if(!($('#nestable1 #property_'+(o.property.split('_'))[1]).length))
      {
      console.log('property not');
      $('#nestable1')
      .prepend('<li class="dd-item" id="property_'+o.property.split('_')[1]+'"><div class="dd-handle pp" ><i class="fa fa-caret-down"></i><span class="name">'+o.property.split('_')[0]+'</span><span class="pull-right"><a href="#"><i class="fa fa-plus fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a></span></div><ol class="random"></ol></li>');
      list_update();
      }
      if(!($('#nestable1 #property_'+(o.property.split('_'))[1] + ' #apartment_'+(o.apartment.split('_'))[1] ).length)) {
      console.log('apartment not' );
      $($('#nestable1 #property_'+(o.property.split('_'))[1] + ' > ol')[0])
      .prepend('<li class="dd-item" id="apartment_'+o.apartment.split('_')[1]+'"><div class="dd-handle aa" ><i class="fa fa-caret-down"></i><span class="name">'+o.apartment.split('_')[0]+'</span><span class="pull-right"><a href="#"><i class="fa fa-pencil fa-fw m-r-xs"></i></a><a href="#"><i class="fa fa-times fa-fw m-r-xs"></i></a></span></div><ol></ol></li>');
      list_update();
      }
      $($($('#nestable1 #property_'+(o.property.split('_'))[1] + ' #apartment_'+(o.apartment.split('_'))[1]))
      .find('ol:first'))
      .prepend('<li class="dd-item mjs-nestedSortable-no-nesting" id="user_'+o._id+'"> <div class="dd-handle">'+o.typeform["29877943"] + " " + o.typeform["29878535"] +'</div> </li>');
      });
      console.log(list1, list2)
      });
      }
      function save_list() {
      var tree = $('ol.sortable').nestedSortable('toHierarchy', {startDepthCount: 0});
      var tree2 = $('ol.sort').nestedSortable('toHierarchy', {startDepthCount: 0});
      var users = {};
      tree.forEach(function(i) {
      var property = { id: i.id,  name: $($('#property_' + i.id + " > div > span.name")).text() }
      if(i.children) {
      i.children.forEach(function(j) {
      var apartment = { id: j.id, name: $($('#apartment_' + j.id + " > div > span.name")).text() }
      if(j.children) {
      j.children.forEach(function(k) {
      users[k.id] = { property: property.name + '_' + property.id, apartment: apartment.name + '_' + apartment.id
      }
      });
      }
      });
      }
      });
      for (var id in users) {
      $.ajax({
      url: '/YMGmqzg8NxUaN0qIcGSZYzli3rNpFU/user/' + id,
      type: 'PUT',
      data: {
      property: users[id].property, apartment: users[id].apartment
      },
      success: function(data) {
      console.log(data);
      }
      });
      }
      console.log(tree2)
      tree2.forEach(function(c) {
      $.ajax({
      url: '/YMGmqzg8NxUaN0qIcGSZYzli3rNpFU/user/' + c.id,
      type: 'PUT',
      data: {
      property: null, apartment: null
      },
      success: function(data) {
      console.log(data);
      }
      });
      })
      setTimeout(reload_view_list, 1000);
      setTimeout(list_update, 1500);
      };
      reload_view_list();
      list_update();
      $(document).on('click', '#update', save_list);
      });
