doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/new/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/new/style.css', type='text/css')
    link(rel='stylesheet', href='/new/dark.css', type='text/css')
    // <link rel="stylesheet" type="text/css" href="one-page/onepage.css">
    // Media Agency Demo Specific Stylesheet
    link(rel='stylesheet', href='/new/app-landing.css', type='text/css')
    // /
    link(rel='stylesheet', href='/new/font-icons.css', type='text/css')
    link(rel='stylesheet', href='/new/et-line.css', type='text/css')
    link(rel='stylesheet', href='/new/animate.css', type='text/css')
    link(rel='stylesheet', href='/new/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='/new/fonts.css', type='text/css')
    // Bootstrap Switch CSS
    link(rel='stylesheet', href='css/components/bs-switches.css', type='text/css')
    link(rel='stylesheet', href='/new/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    link(rel='stylesheet', href='/new/colors.css', type='text/css')
    // Core CSS file
    link(rel='stylesheet', href='/new/photoswipe.css')
    //
      Skin CSS file (styling of UI - buttons, caption, etc.)
      In the folder of skin CSS file there are also:
      - .png and .svg icons sprite,
      - preloader.gif (for browsers that do not support CSS animations)
    link(rel='stylesheet', href='/new/default-skin.css')
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel="stylesheet", type="text/css")
  
    link(rel="stylesheet", type="text/css", href="/new/faq/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato",rel="stylesheet")
    link(href="/new/maps.css",rel="stylesheet")
    //
      Document Title
      =============================================
    title Roomtini | High class living without the high Price
    style(type='text/css').
      .big-video-button {
      display: inline-block;
      width: 64px;
      height: 64px;
      line-height: 64px;
      border-radius: 50%;
      background-color: #333;
      color: #F5F5F5 !important;
      font-size: 24px;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      opacity: 1;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      }
      .big-video-button:hover { opacity: 0.9; }
      .dark .big-video-button,
      .big-video-button.dark {
      background-color: #F5F5F5;
      color: #333 !important;
      text-shadow: none;
      }
      .big-video-button i:nth-of-type(1) {
      position: relative;
      left: 3px;
      }
      .big-video-button i:nth-of-type(2),
      .big-video-button.video-played i:nth-of-type(1) { display: none; }
      .big-video-button.video-played i:nth-of-type(2) { display: block; }
      .big-video-button.video-played { opacity: 0.1; }
      #slider:hover .big-video-button.video-played { opacity: 1; }
      .videoplay-on-hover .vertical-middle { z-index: 2; }
      .videoplay-on-hover .video-wrap { z-index: 1; }
      .videoplay-on-hover .vertical-middle h2 {
      font-size: 40px;
      font-weight: bold;
      }
      .device-xs .videoplay-on-hover .vertical-middle h2 { font-size: 32px; }
      .device-xxs .videoplay-on-hover .vertical-middle h2 { font-size: 26px; }
      .accordion.accordion-border {
      border: 0px solid #DDD;
      border-radius: 0px;
      }
      .accordion {
      margin-bottom: 0px;
      }
      .panel-body {
      padding: 0px;
      }
      .panel-heading {
      background-color: #267DF4 !important;
      color: white !important;
      }
      .panel-heading > span {
      font-weight: bold;
      padding-left: 22px;
      }
      .pricing-box {
      padding: 0px;
      margin: 0px;
      height: 650px;
      margin-bottom: 40px;
      border-radius:5px !important;
      }
      .property-img {
      height: 230px; width: 100%;
      }
      .property-info {
      background-color: white;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 26px;
      padding-bottom: 13px;
      color: #4a4a4a;
      height: 270px;
      font-family:Lato;
      }
      .property-button {
      height: 54px;
      background-color: #267DF4;
      color: black;
      line-height: 54px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      position: relative;
      }
      .property-button > a {
      color: white;
      }
      .border-form-control {
      height: 48px;
      padding: 8px 4px;
      font-size: 16px;
      letter-spacing: 1px;
      background-color: transparent !important;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      border-bottom-width: 1px;
      font-family: 'Montserrat', sans-serif;
      }
      textarea.border-form-control {
      resize: none;
      overflow: hidden;
      word-wrap: break-word;
      }
      .hhidden {
        overflow: hidden;
      }
      #g181,#gLS { cursor: pointer; cursor: hand; color: #267DF4; }
      #applybutton {
        margin-left:20px !important;
      }
      @media only screen and (min-width:768px) and (max-width: 992px) {
        .ccenter {
          text-align: center;
        }

        /*.menu-item-emphasis a{
          background-color:white;
        }*/
      }
      .cd-faq-group .cd-faq-title h2 {
        font-size: 12px;
      }
      .cd-faq-categories a {
        font-size: 12px;
      }
      .cd-faq-group {
        list-style-type: none;
      }
      .cd-faq-group > li {        
        border-radius: 4px;
      }
      .cd-faq-content p {
        font-size: 14px;
        font-family: 'Lato';
      }

      .cd-faq-trigger {
        font-family: 'Lato';
        font-weight: bold;
        color: #6a7989 !important;
      }
      .lato {
        font-family:Lato;
      }
      .one-page-menu > li > a > div {
        font-weight: bold;
      }
      .fill-denim {
          background: #50667f;
      }
      *{font-family:Lato;}
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.split-menu.transparent-header.dark(data-sticky-class='not-dark', data-responsive-class='not-dark')
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='#', data-dark-logo='/new/roomtini_logo_dark.png', style="")
                img(src='/new/roomtini_logo.png', alt='Canvas Logo', style='height: 45px; width:200px; margin-top: 25px;')


              a.retina-logo(href='#', data-dark-logo='/new/roomtini_logo_dark.png', style="display:black;")
                img(src='/new/roomtini_logo.png', alt='Canvas Logo', style='height: 45px; width:200px; margin-top: 25px;')

              //<a href="index.html" class="retina-logo" data-dark-logo="demos/app-landing/images/logo-dark@2x.png"><img src="demos/app-landing/images/logo@2x.png" alt="Canvas Logo"></a>
            // #logo end
            //
              Primary Navigation
              =============================================
            nav#primary-menu.with-arrows.clearfix.not-dark
              ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
                
                //li
                  a(href='#', data-href='#wrapper')
                    div Home
                //
                  <li><a href="#" data-href="#section-nextgen"><div>Explore</div></a>
                  <ul>
                  <li><a href="#" data-href="#section-nextgen"><div>NextGen Framework</div></a></li>
                  <li><a href="#" data-href="#section-stunning-graphics"><div>Stunning Graphics</div></a></li>
                  <li><a href="#" data-href="#section-secured-solutions"><div>Secured Solutions</div></a></li>
                  </ul>
                  </li>
                  <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
              ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
                li
                  a(href='#', data-href='#wrapper')
                    div Home
                li
                  a(href='#', data-href='#section-first_para')
                    div About
                li
                  a(href='/locations')
                    div Locations
                li
                  a(href='#', data-href='#section-faqs')
                    div FAQs
                if !user
                  li
                    a(href='/login')
                      div Login
                else 
                  li
                    a(href='#')
                      div='' + ((user.profile && user.profile.name) || user.email || user.id)
                    ul
                      li
                        a(href='/account')
                          div My account
                      li
                        a(href='/logout')
                          div Logout
                if !user
                  li.menu-item-emphasis(style='', id="applybutton")
                    a(href='/signup', style='', id="applynow")
                      div Apply Now
            // #primary-menu end
      // #header end
      section#slider.full-screen.slider-parallax
        .slider-parallax-inner(style="background: url('/images/signup.jpg') center center no-repeat; background-size: cover;")
          .vertical-middle(style='z-index: 2;')
            .container.dark.clearfix
              .row.clearfix
                .col-md-12.col-sm-12
                  .emphasis-title(style='text-align: right')
                    // <h1 class="font-body">Beautiful Websites.<br>Increased Conversions.</h1>
                    h1(style="text-align:center;font-size:65px;")
                      span.text-rotater.nocolor(data-separator='|', data-rotate='fadeIn', data-speed='4000')
                        span.t-rotate.t700.font-body.opm-large-word Downtown |San Francisco |Starting at $1149 |Luxury |Close to Work 
                  div(style="text-align: center;")
                    a.button.button-large.button-white.button-light.capitalize(href='#section-map', data-scrollto='#section-map', data-easing='easeInOutExpo', data-speed='1250', data-offset='160', style='border-radius: 2px;') Explore Locations
          .video-wrap(style='position: absolute; height: 100%; z-index: 1;')
            .video-overlay(style='background: rgba(0,0,0,0.2);')
      //
        Content
        =============================================
      section#content
        .content-wrap
          #modal-left.modal1.mfp-hide
            .block.divcenter(style='background-color: #FFF; max-width: 900px;')
              .row(style='padding: 20px')
                .col-md-4.col-sm-4.col-xs-12(style='text-align: center')
                  img(src='/new/n1.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Neighbourhood
                    p
                    p
                      | 181 Fremont residents will have the best of the city at arm’s reach, plus incredible access to transportation when it’s time to hit the road and explore other parts of the Bay Area and beyond.
                .col-md-4.col-sm-4.col-xs-12
                  img(src='/new/am.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Amenities
                    p
                    p
                      | Twenty-five feet tall and enclosed by glass, the residential lobby of 181 Fremont ODADA’s design objective was to evoke a sculptural feel throughout..
                .col-md-4.col-sm-4.col-xs-12
                  img(src='/new/res1.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Living Areas
                    p
                    p
                      | Polished Italian Calacatta Carrara marble frames each residence entryway, with doors encased in a Paldao wood from New Guinea. A polished brass handle custom-forged by Parisian artisans Série Rare graces the front door of each residence.
          #modal-right.modal1.mfp-hide
            .block.divcenter(style='background-color: #FFF; max-width: 900px;')
              .row(style='padding: 20px')
                .col-md-4.col-sm-4.col-xs-12(style='text-align: center')
                  img(src='/new/n1.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Neighbourhood
                    p
                    p
                      | 181 Fremont residents will have the best of the city at arm’s reach, plus incredible access to transportation when it’s time to hit the road and explore other parts of the Bay Area and beyond.
                .col-md-4.col-sm-4.col-xs-12
                  img(src='/new/am.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Amenities
                    p
                    p
                      | Twenty-five feet tall and enclosed by glass, the residential lobby of 181 Fremont ODADA’s design objective was to evoke a sculptural feel throughout..
                .col-md-4.col-sm-4.col-xs-12
                  img(src='/new/res1.jpg', style='height: 200px')
                  div(style='height: 250px; overflow: hidden')
                    p
                    h4(style='text-align: center') Living Areas
                    p
                    p
                      | Polished Italian Calacatta Carrara marble frames each residence entryway, with doors encased in a Paldao wood from New Guinea. A polished brass handle custom-forged by Parisian artisans Série Rare graces the front door of each residence.             
          // Modal
          #modal-login.modal1.mfp-hide
            .block.divcenter(style='background-color: #FFF; max-width: 400px;')
              div(style='padding: 50px;')
                h3.font-body Login to your Account
                form.nobottommargin(action='#', method='post')
                  .col_full
                    label.font-body.capitalize(for='login-form-modal-username') Username:
                    input#login-form-modal-username.form-control(type='text', name='login-form-modal-username', value='')
                  .col_full
                    label.font-body.capitalize(for='login-form-modal-password') Password:
                    input#login-form-modal-password.form-control(type='password', name='login-form-modal-password', value='')
                  .col_full.nobottommargin
                    button#login-form-modal-submit.button.button-rounded.nomargin(name='login-form-modal-submit', value='login') Login
                    a.fright(href='#') Forgot Password?
                .line.line-sm
                a.button.button-rounded.btn-block.t400.center.capitalize.si-facebook.si-colored.noleftmargin.norightmargin(href='#') Login with Facebook
                a.button.button-rounded.btn-block.t400.center.capitalize.si-gplus.si-colored.nomargin(href='#') Login with Google
          .clear
          #section-first_para.page-section.nopadding.nomargin
            .container.topmargin.bottommargin-lg.center.clearfix
              h3.ls1.t400(style='font-size: 40px; margin-bottom: 10px;font-family:Lato;') Making City Living Amazingly Affordable
              p.lead.divcenter(style='max-width: 600px')
                | We are on a journey to make city living affordable again. Bringing in residents full of increasing Culture, diversity, and Energy back into the city!
              a.button.button-circle.capitalize(href='#section-map', data-scrollto='#section-map') Explore Locations
          .clear
          //section.section(style='background-color: white;border-top: 1px solid #E5E5E5;padding-top:100px;')
            .row(style='overflow: hidden;')
              .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
                .col-md-4.col-sm-11.col-xs-10.bb(style='background-color: #673AB7;\
                outline: 1px solid #EEE;height: 442px')
                  h1.lato(style='margin:40px;text-align: center;color: #EEE;font') Book a Tour!
                  p.lato(style='margin-left: 20px;margin-right: 20px;text-align: center;color: #EEE;')
                    | Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security RosaTransform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa
                  i.icon-bulb.bgicon
                .col-md-4.col-sm-11.col-xs-10.bb(style='background-color: #8BC34A;\
                outline: 1px solid #EEE;height: 442px')
                  h1.lato(style='margin:40px;text-align: center;color: #EEE;') Book a Tour!
                  p.lato(style='margin-left: 20px;margin-right: 20px;text-align: center;color: #EEE;')
                    | Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security RosaTransform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa.
                  i.icon-cog.bgicon
                .col-md-4.col-sm-11.col-xs-10.bb(style='overflow: hidden; background-color: rgb(26, 136, 188);\
                outline: 1px solid #EEE;height: 442px')
                  h1.lato(style='margin:40px;text-align: center;color: #EEE;') Book a Tour!
                  p.lato(style='margin-left: 20px;margin-right: 20px;text-align: center;color: #EEE;')
                    | Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security RosaTransform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa.
                  i.icon-thumbs-up.bgicon




          #section-second_para.section(style='color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;')
            .container.clearfix
              .row.topmargin-lg.clearfix
                .col-md-4.bottommargin
                  i.i-plain.i-large.icon-et-calendar.inline-block(style='margin-bottom: 30px; color: #999;')
                  .heading-block.nobottomborder(style='margin-bottom: 15px;')
                    h4(style='font-size: 16px;') Book a Tour!
                  p(style='line-height: 26px;')
                    | Ca
                .col-md-4.bottommargin
                  i.i-plain.i-large.icon-et-adjustments.inline-block(style='margin-bottom: 30px; color: #999;')
                  .heading-block.nobottomborder(style='margin-bottom: 15px;')
                    h4(style='font-size: 16px;') Apply to be Matched!
                  p(style='line-height: 26px;')
                    | Unleash the Power of Mega Menus by adding Widgets & Mixed Columns powered by the Bootstrap Grid.
                .col-md-4.bottommargin
                  i.i-plain.i-large.icon-et-cloud.inline-block(style='margin-bottom: 30px; color: #999;')
                  .heading-block.nobottomborder(style='margin-bottom: 15px;')
                    h4(style='font-size: 16px;') Move In!
                  p(style='line-height: 26px;')
                    | Amazing set of New Components giving you Opportunity to Create an Interactive Website for your Business.
          .clear
          #section-third_para.page-section.nopadding.nomargin
            .container.topmargin.bottommargin-lg.center.clearfix
              h3.t400(style='font-size: 40px; margin-bottom: 10px;font-family: Lato;') Rent is too Dang High!
              p.lead.divcenter(style='max-width: 600px;font-family: Lato;') We at Roomtini create solutions to give renters more for less ...
          .clear
            .section.notopmargin.nobottommargin
              .container.clearfix
                .col_half.nobottommargin.topmargin-lg
                  img.center-block(src='images/appshowcase/iphone-solid.png', alt='Image')
                .col_half.nobottommargin.topmargin-lg.col_last
                  .heading-block.topmargin-lg
                    h2 Typically Responsive
                    span Our App scales beautifully to different Devices.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet cumque, perferendis accusamus porro illo exercitationem molestias, inventore obcaecati ut omnis voluptatibus ratione odio amet magnam quidem tempore necessitatibus quaerat, voluptates excepturi voluptatem, veritatis qui temporibus.
                  a.button.button-border.button-rounded.button-large.button-dark.noleftmargin(href='#') View Gallery
          
          // Properties Section
          #section-fourth_para.page-section.nopadding.nomargin
            .col-md-6.col-xs-12.col-sm-12.nopadding.full-screen.force-full-screen.dark(style="background-image: url('/images/181_Fremont_RE_10.jpg'); background-size: cover;")
              .vertical-middle(style='z-index: 2;text-align: center; ')
                .inline-block
                  a#play-hero-video.big-video-button.bottommargin(href='https://www.youtube.com/watch?v=oJRl_G0KqOw', data-lightbox='iframe')
                    i.icon-line-play
                .emphasis-title.divcenter(style='max-width: 450px;')
                  h1.t700.font-body.ls1(style='font-size: 34px;font-family:Lato') 181 Fremont
                  h4#g181(style='font-family:Lato;margin-bottom: 0px;color: white;', href='#modal-left') View Gallery
                  a.capitalize(href='#modal-left', data-lightbox='inline', style='font-size: 18px;font-weight:bold;color: white;') About 

                .clear
                a.button.button-border.button-light.button-circle.popup-iframe-typeform(href='https://jo279.typeform.com/to/FmAr3H', style='font-family:Lato;') Book a Tour!
              .video-wrap(style='z-index: 1;')
                .video-overlay(style='background-color: rgba(0,0,0,0.7);')
            .col-md-6.col-xs-12.col-sm-12.nopadding.full-screen.force-full-screen.dark(style="background-image: url('/new/LSeven.jpg'); background-size: cover;background-position: center; ")
              .vertical-middle(style='z-index: 2;text-align: center !important;')
                .inline-block
                  a#play-hero-video.big-video-button.bottommargin(href='http://vimeo.com/117770305', data-lightbox='iframe')
                    i.icon-line-play
                .emphasis-title.divcenter(style='max-width: 450px;')
                  h1.t700.font-body.ls1(style='font-size: 34px;font-family:Lato;') L Seven
                  h4#gLS(style='font-family:Lato;margin-bottom: 0px;color: white;') View Gallery
                  a.capitalize(href='#modal-left', data-lightbox='inline', style='font-size: 18px;font-weight:bold;color: white;') About 

                .clear
                a.button.button-border.button-light.button-circle.popup-iframe-typeform(href='https://jo279.typeform.com/to/BakX72', style='font-family:Lato;') Book a Tour!
              .video-wrap(style='z-index: 1;')
                .video-overlay(style='background-color: rgba(0,0,0,0.7);')
          .clear
          // FAQ Section
          .clear
          //#section-faqs.section.page-section.nomargin(style='backkground-color:white; border-bottom: 1px solid #E5E5E5;')
            .container.topmargin-sm.clearfix
              h2.t400.center.font-body.bottommargin-lg(style='font-family:Lato !important;font-size:40px;') | Frequently Asked Questions
              .col-md-8.col-md-offset-2.col-sm-6.bottommargin-sm.col-sm-offset-3.col-xs-12
                .panel.panel-default
                  .panel-heading
                    span General
                  .panel-body
                    .accordion.accordion-border.clearfix(style='')
                      .acctitle What is Roomtini?
                      .acc_content.clearfix
                        | Roomtini enables elegent use of apartment layouts to create affordable living for everyone. We provide smart furntiure arrangments to create additional rooms allowing rent to superbly low. Luxury amentities once only available to high income earners are now available to everyone.
                      .acctitle Do you run Credit?
                      .acc_content.clearfix
                        | The leasing office will a credit check on everyone producing a combined score to qualify for the apartment. This makes it easy to qualify, as the combined score means not everyone needs good credit.
                      .acctitle How much is Utilities?
                      .acc_content.clearfix
                        | Many of our selection of our apartments have highly effecient appliances. Utilities costs are split 3 or 4 ways bringing it down to very affordable levels.
                      .acctitle How much is parking?
                      .acc_content.clearfix
                        | Parking is always free on the streets. If you would like attached garage parking, fees range from $200-$300 / per month.
                      .acctitle How long are the lease terms?
                      .acc_content.clearfix We currently offer 12 to 18 month leases.
                      .acctitle How does Roomtini make money?
                      .acc_content.clearfix
                        | Roomtini charges a nominal monthly fees for our matching and happines services. This helps cover the cost of partition and late payment protections we provide.
                      .acctitle Who's name is on the lease?
                      .acc_content.clearfix All individuals living in the apartment will all be on the lease.
                      .acctitle What if I want to get out of my lease early?
                      .acc_content.clearfix
                        | You would have to find replacements typical of many apartment leases. In limited circumstances we will work with the leasing office to come with a solution that works for everyone.
                      .acctitle Who will I be paying?
                      .acc_content.clearfix
                        | All members on the lease will be remiting payent to Roomtini who will be paying the apartment on your behalf.
                      .acctitle What can fit in the room?
                      .acc_content.clearfix
                        | Split rooms will fit a full bed and in some rooms will fit a queen. A deks and dressor may also fit depending on the setup.
                      .acctitle Will there be any stoarge?
                      .acc_content.clearfix
                        | Yes, additional storage can be rented for $75 a month or you can be creative and raise your bed to provide additional storage right under your bed!
                      .acctitle Are pets allowed?
                      .acc_content.clearfix
                        | No, happiness is our #1 priority and many of our matches have shown to have a no pet prefrence. If opinions change, we would be happy to reconsider.
                      .acctitle Can couples share a partitioned room?
                      .acc_content.clearfix
                        | Unfortunatly we can not. However, couples can choose to rent out an entire room in a roomtini home.
                      .acctitle  Are there any community events?
                      .acc_content.clearfix Yes, roomtini plans on hosting many community events as our community grows!.
              //
                <div class="col-md-5 col-sm-6 bottommargin-sm">
                <div class="panel panel-default">
                <div class="panel-heading">
                <span>     General</span>
                </div>
                <div class="panel-body">
                <div class="accordion accordion-border clearfix" style="">
                <div class="acctitle">What is Roomtini?</div>
                <div class="acc_content clearfix">Roomtini enables elegent use of apartment layouts to create affordable living for everyone. We provide smart furntiure arrangments to create additional rooms allowing rent to superbly low. Luxury amentities once only available to high income earners are now available to everyone.</div>
                <div class="acctitle">Do you run Credit?</div>
                <div class="acc_content clearfix">The leasing office will a credit check on everyone producing a combined score to qualify for the apartment. This makes it easy to qualify, as the combined score means not everyone needs good credit.</div>
                <div class="acctitle">How much is Utilities?</div>
                <div class="acc_content clearfix">Many of our selection of our apartments have highly effecient appliances. Utilities costs are split 3 or 4 ways bringing it down to very affordable levels.</div>
                <div class="acctitle">How much is parking?</div>
                <div class="acc_content clearfix">Parking is always free on the streets. If you would like attached garage parking, fees range from $200-$300 / per month.</div>
                <div class="acctitle">How long are the lease terms?</div>
                <div class="acc_content clearfix">We currently offer 12 to 18 month leases.</div>
                <div class="acctitle">How does Roomtini make money?</div>
                <div class="acc_content clearfix">Roomtini charges a nominal monthly fees for our matching and happines services. This helps cover the cost of partition and late payment protections we provide.</div>
                <div class="acctitle">Who's name is on the lease?</div>
                <div class="acc_content clearfix">All individuals living in the apartment will all be on the lease.</div>
                <div class="acctitle">What if I want to get out of my lease early?</div>
                <div class="acc_content clearfix">You would have to find replacements typical of many apartment leases. In limited circumstances we will work with the leasing office to come with a solution that works for everyone.</div>
                <div class="acctitle">Who will I be paying?</div>
                <div class="acc_content clearfix">All members on the lease will be remiting payent to Roomtini who will be paying the apartment on your behalf.</div>
                <div class="acctitle">What can fit in the room?</div>
                <div class="acc_content clearfix">Split rooms will fit a full bed and in some rooms will fit a queen. A deks and dressor may also fit depending on the setup.</div>
                <div class="acctitle">Will there be any stoarge?</div>
                <div class="acc_content clearfix">Yes, additional storage can be rented for $75 a month or you can be creative and raise your bed to provide additional storage right under your bed!</div>
                <div class="acctitle">Are pets allowed?</div>
                <div class="acc_content clearfix">No, happiness is our #1 priority and many of our matches have shown to have a no pet prefrence. If opinions change, we would be happy to reconsider.</div>
                <div class="acctitle">Can couples share a partitioned room?</div>
                <div class="acc_content clearfix">Unfortunatly we can not. However, couples can choose to rent out an entire room in a roomtini home.</div>
                <div class="acctitle"> Are there any community events?</div>
                <div class="acc_content clearfix">Yes, roomtini plans on hosting many community events as our community grows!.</div>
                </div>
                </div>
                </div>
                </div>
          .clear


          #section-faqs.section.page-section.nomargin(style='background-color:white; border-bottom: 1px solid #E5E5E5;')
            h2.t400.center.font-body.bottommargin-lg(style='font-family:Lato;font-size:40px') Frequently Asked Questions        
            section.cd-faq
              ul.cd-faq-categories(style='margin-bottom:0px;')
                li
                  a.selected(href="#faq-general", style="text-decoration: none;") General
                |               
                li
                  a(href="#faq-expense", style="text-decoration: none;") Expense
                |               
                li
                  a(href="#faq-process", style="text-decoration: none;") Process
                |               
                li
                  a(href="#faq-terms", style="text-decoration: none;") Lease Terms
                |               
                li
                  a(href="#faq-matching", style="text-decoration: none;") Matching
                |               
                li
                  a(href="#faq-miscellaneous", style="text-decoration: none;") Miscellaneous
                |               
                //li
                  //a(href="#faq-all", style="text-decoration: none;") All
              // cd-faq-categories
              .cd-faq-items
                ul#faq-general.cd-faq-group
                  li.cd-faq-title
                    h2 General
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What is Roomtini?
                    |                   
                    .cd-faq-content
                      p
                        | Roomtini enables elegent use of apartment layouts to create affordable living for everyone. We provide smart furntiure arrangments to create additional rooms allowing rent to superbly low. Luxury amentities once only available to high income earners are now available to everyone.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How does Roomtini make money?
                    |                   
                    .cd-faq-content
                      p
                        | Roomtini charges a nominal monthly fees for our matching and happines services. This helps cover the cost of partition and late payment protections we provide.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What can fit in the room?
                    |                   
                    .cd-faq-content
                      p
                        | Split rooms will fit a full bed and in some rooms will fit a queen. A deks and dressor may also fit depending on the setup.
                    // cd-faq-content
                // cd-faq-group
                ul#faq-expense.cd-faq-group
                  li.cd-faq-title
                    h2 Expense
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How much is utilities?
                    |                   
                    .cd-faq-content
                      p
                        | Many of our selection of our apartments have highly effecient appliances. Utilities costs are split 3 or 4 ways bringing it down to very affordable levels.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How much is parking?
                    |                   
                    .cd-faq-content
                      p
                        | Parking is always free on the streets. If you would like attached garage parking, fees range from $200-$300 / per month.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Who will I be paying?
                    |                   
                    .cd-faq-content
                      p
                        | All members on the lease will be remiting payent to Roomtini who will be paying the apartment on your behalf.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Will there be any stoarge?
                    |                   
                    .cd-faq-content
                      p
                        | Yes, additional storage can be rented for $75 a month or you can be creative and raise your bed to provide additional storage right under your bed!
                    // cd-faq-content
                // cd-faq-group
                ul#faq-process.cd-faq-group
                  li.cd-faq-title
                    h2 Process
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Do you run Credit?
                    |                   
                    .cd-faq-content
                      p
                        | The leasing office will a credit check on everyone producing a combined score to qualify for the apartment. This makes it easy to qualify, as the combined score means not everyone needs good credit.
                    // cd-faq-content
                // cd-faq-group
                ul#faq-terms.cd-faq-group
                  li.cd-faq-title
                    h2 Lease Terms
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How long are the lease terms?
                    |                   
                    .cd-faq-content
                      p We currently offer 12 to 18 month leases.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What if I want to get out of my lease early?
                    |                   
                    .cd-faq-content
                      p
                        | You would have to find replacements typical of many apartment leases. In limited circumstances we will work with the leasing office to come with a solution that works for everyone.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Are pets allowed?
                    |                   
                    .cd-faq-content
                      p
                        | No, happiness is our #1 priority and many of our matches have shown to have a no pet prefrence. If opinions change, we would be happy to reconsider.
                    // cd-faq-content
                // cd-faq-group
                ul#faq-matching.cd-faq-group
                  li.cd-faq-title
                    h2 Matching
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Can couples share a partitioned room?
                    |                   
                    .cd-faq-content
                      p
                        | Unfortunatly we can not. However, couples can choose to rent out an entire room in a roomtini home.
                    // cd-faq-content
                // cd-faq-group
                ul#faq-miscellaneous.cd-faq-group
                  li.cd-faq-title
                    h2 Miscellaneous
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Are there any community events?
                    |                   
                    .cd-faq-content
                      p Yes, roomtini plans on hosting many community events as our community grows!
                    // cd-faq-content
                // cd-faq-group
                //ul#faq-all.cd-faq-group
                  li.cd-faq-title
                    h2 All
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What is Roomtini?
                    |                   
                    .cd-faq-content
                      p
                        | Roomtini enables elegent use of apartment layouts to create affordable living for everyone. We provide smart furntiure arrangments to create additional rooms allowing rent to superbly low. Luxury amentities once only available to high income earners are now available to everyone.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How does Roomtini make money?
                    |                   
                    .cd-faq-content
                      p
                        | Roomtini charges a nominal monthly fees for our matching and happines services. This helps cover the cost of partition and late payment protections we provide.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What can fit in the room?
                    |                   
                    .cd-faq-content
                      p
                        | Split rooms will fit a full bed and in some rooms will fit a queen. A deks and dressor may also fit depending on the setup.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How much is utilities?
                    |                   
                    .cd-faq-content
                      p
                        | Many of our selection of our apartments have highly effecient appliances. Utilities costs are split 3 or 4 ways bringing it down to very affordable levels.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How much is parking?
                    |                   
                    .cd-faq-content
                      p
                        | Parking is always free on the streets. If you would like attached garage parking, fees range from $200-$300 / per month.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Who will I be paying?
                    |                   
                    .cd-faq-content
                      p
                        | All members on the lease will be remiting payent to Roomtini who will be paying the apartment on your behalf.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Will there be any stoarge?
                    |                   
                    .cd-faq-content
                      p
                        | Yes, additional storage can be rented for $75 a month or you can be creative and raise your bed to provide additional storage right under your bed!
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Do you run Credit?
                    |                   
                    .cd-faq-content
                      p
                        | The leasing office will a credit check on everyone producing a combined score to qualify for the apartment. This makes it easy to qualify, as the combined score means not everyone needs good credit.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") How long are the lease terms?
                    |                   
                    .cd-faq-content
                      p We currently offer 12 to 18 month leases.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") What if I want to get out of my lease early?
                    |                   
                    .cd-faq-content
                      p
                        | You would have to find replacements typical of many apartment leases. In limited circumstances we will work with the leasing office to come with a solution that works for everyone.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Are pets allowed?
                    |                   
                    .cd-faq-content
                      p
                        | No, happiness is our #1 priority and many of our matches have shown to have a no pet prefrence. If opinions change, we would be happy to reconsider.
                    // cd-faq-content
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Can couples share a partitioned room?
                    |                   
                    .cd-faq-content
                      p
                        | Unfortunatly we can not. However, couples can choose to rent out an entire room in a roomtini home.
                    // cd-faq-content
                  |   
                  |                 
                  li
                    a.cd-faq-trigger(href="#0") Are there any community events?
                    |                   
                    .cd-faq-content
                      p Yes, roomtini plans on hosting many community events as our community grows!
                    // cd-faq-content
                // cd-faq-group
              // cd-faq-items
              a.cd-close-panel(href="#0") Close
            // cd-faq












          //#section-map.page-section(style='padding-top: 0px;')
            .container.topmargin.bottommargin-lg.center.clearfix
              div
                h3.t400(style='text-align: center;font-family:Lato;font-size:40px;margin-bottom:80px') Featured Locations
                .col-md-4.col-sm-6.col-xs-12
                  .pricing-box(style='height: auto')
                    div
                      img.property-img(src='/new/181Fremont.jpg')
                    .property-info
                      h4(style='font-family:Lato;') 181 Fremont Apartments
                      p(style='font-family:Lato;')
                        | 181 Fremont's top 17 stories encompass residences from two-bedrooms to the full-floor Penthouse—each with spectacular Bay and City views.
                    .property-button
                      a(href='https://jo279.typeform.com/to/FmAr3H') Book a tour!
                .col-md-4.col-sm-6.col-xs-12
                  .pricing-box(style='height: auto')
                    div
                      img.property-img(src='/new/LSeven.jpg')
                    .property-info
                      h4(style='font-family:Lato;') L Seven Apartments
                      p(style='font-family:Lato;')
                        | Brand new studio, 1 and 2 bedroom apartments and lofts in San Francisco. Our downtown SOMA location is just four blocks from the Civic Center & UN Plaza Bart Station and walking distance to major employers including Zynga, Adobe, Twitter, Thumbtack, and more.
                    .property-button
                      a(href='https://jo279.typeform.com/to/BakX72') Book a tour!
                .col-md-4.col-sm-12.col-xs-12
                  #map.pricing-box(style='height: 556px;')
          //#section-map.col-md-12(style='height: 600px')
            //#map(style="height:100%")


          //.line.topmargin-lg.bottommargin-lg
          //#section-contact.page-section(style='display: none;')
            .container.topmargin.bottommargin-lg.center.clearfix
              h1.t400.bottommargin('font-size:40px;font-family:Lato') Get in Touch.
              .row.clearfix(style='')
                .col-md-6.com-sm-12.col-xs-12.col-md-offset-1
                  .contact-widget
                    .contact-form-result
                    form#template-contactform.nobottommargin(name='template-contactform', action='include/sendemail.php', method='post')
                      .form-process
                      .col_half
                        input#template-contactform-name.sm-form-control.border-form-control.required(type='text', name='template-contactform-name', value='', placeholder='Name')
                      .col_half.col_last
                        input#template-contactform-email.required.email.sm-form-control.border-form-control(type='email', name='template-contactform-email', value='', placeholder='Email Address')
                      .clear
                      .col_full
                        input#template-contactform-subject.required.sm-form-control.border-form-control(type='text', name='template-contactform-subject', value='', placeholder='Subject')
                      .col_full
                        textarea#template-contactform-message.required.sm-form-control.border-form-control(name='template-contactform-message', rows='7', cols='30', placeholder='Your Message')
                      .col_full
                        button#template-contactform-submit.button.button-black.noleftmargin.topmargin-sm(type='submit', name='template-contactform-submit', value='submit') Send Message
                      .clear
                      .col_full.hidden
                        input#template-contactform-botcheck.sm-form-control(type='text', name='template-contactform-botcheck', value='')
                .col-md-4.col-xs-12.col-sm-12
                  h4.lato Headquarters.
                  div.lato(style='font-size: 16px; line-height: 1.7;')
                    address(style='line-height: 1.7;')
                      | 795 Folsom Ave, Suite 600
                      br
                      |                       San Francisco, CA 94107
                      br
                    .clear.topmargin
                    abbr(title='Phone Number')
                      strong Phone:
                    |  (91) 8547 632521
                    br
                    abbr(title='Fax')
                      strong Fax:
                    |  (91) 11 4752 1433
                    br
                    abbr(title='Email Address')
                      strong Email:
                    |  aloha@roomtini.com
      // #content end
      //
        Footer
        =============================================
      footer#footer(style='background-color: #FFF;margin-top: -81px;')
        .container
          //
            Footer Widgets
            =============================================
          .clearfix 
            .row.clearfix(style="margin-top:20px")
              .col-md-5
                .widget.clearfix
                  .row.clearfix
                    .col-md-8.bottommargin-sm.clearfix(style='color:#888;')
                      img.bottommargin-sm(src='/new/roomtini_logo.png', alt='Canvas Logo', style='display: block; height: 40px')
                      p
                        | Roomtini enables elegent use of apartment layouts to create affordable living for everyone.
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-facebook(href='#')
                        i.icon-facebook
                        i.icon-facebook
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-twitter(href='#')
                        i.icon-twitter
                        i.icon-twitter
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-gplus(href='#')
                        i.icon-gplus
                        i.icon-gplus
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-pinterest(href='#')
                        i.icon-pinterest
                        i.icon-pinterest
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-vimeo(href='#')
                        i.icon-vimeo
                        i.icon-vimeo
        //
          Copyrights
          =============================================
        #copyrights.nobg.notoppadding
          .container.clearfix
            .col_half
              | Copyrights © 2017 All Rights Reserved by Roomtini
              br
        // #copyrights end
      // #footer end
    // #wrapper end
    // Root element of PhotoSwipe. Must have class pswp.
    .pswp(tabindex='-1', role='dialog', aria-hidden='true')
      //
        Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba().
      .pswp__bg
      // Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap
        //
          Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            // Controls are self-explanatory. Order can be changed.
            .pswp__counter
            button.pswp__button.pswp__button--close(title='Close (Esc)')
            button.pswp__button.pswp__button--share(title='Share')
            button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
            button.pswp__button.pswp__button--zoom(title='Zoom in/out')
            // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            // element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
          button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
          .pswp__caption
            .pswp__caption__center
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='/new/jquery.js')
    script(type='text/javascript', src='/new/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='/new/functions.js')
    
    // Core JS file
    script(src='/new/photoswipe.min.js')
    // UI JS file
    script(src='/new/photoswipe-ui-default.min.js')
    script(src="/new/faq/jquery.mobile.custom.min.js") 
    script(src="/new/faq/main.js")

    script.
      
      jQuery(document).ready( function($){

        function redrawMap(mapProvider, map){
          $('.map .toggle-navigation').click(function() {
              $('.map-canvas').toggleClass('results-collapsed');
              $('.map-canvas .map').one("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
                  if( mapProvider == 'osm' ){
                      map.invalidateSize();
                  }
                  else if( mapProvider == 'google' ){
                      google.maps.event.trigger(map, 'resize');
                  }
              });
          });
        }
      
        function drawInfobox(category, infoboxContent, json, i){

            if(json.data[i].color)          { var color = json.data[i].color }
                else                        { color = '' }
            if( json.data[i].price )        { var price = '<div class="price">' + json.data[i].price +  '</div>' }
                else                        { price = '' }
            if(json.data[i].id)             { var id = json.data[i].id }
                else                        { id = '' }
            if(json.data[i].url)            { var url = json.data[i].url }
                else                        { url = '' }
            if(json.data[i].type)           { var type = json.data[i].type }
                else                        { type = '' }
            if(json.data[i].title)          { var title = json.data[i].title }
                else                        { title = '' }
            if(json.data[i].location)       { var location = json.data[i].location }
                else                        { location = '' }
            if(json.data[i].gallery[0])     { var gallery = json.data[i].gallery[0] }
                else                        { gallery[0] = '../img/default-item.jpg' }

            var ibContent = '';
            ibContent =
            '<div class="infobox ' + color + '">' +
                '<div class="inner">' +
                    '<div class="image">' +
                        '<div class="item-specific">' + /*drawItemSpecific(category, json, i)*/ '' + '</div>' +
                        /*'<div class="overlay">' +
                            '<div class="wrapper">' +
                                '<a href="#" class="quick-view" data-toggle="modal" data-target="#modal" id="' + id + '">Quick View</a>' +
                                '<hr>' +
                                '<a href="' + url +  '" class="detail">Go to Detail</a>' +
                            '</div>' +
                        '</div>' +*/
                        '<a href="' + url +  '" class="description">' +
                            '<div class="meta">' +
                                price +
                                '<h2>' + title +  '</h2>' +
                                '<figure>' + location +  '</figure>' +
                                '<i class="fa fa-angle-right"></i>' +
                            '</div>' +
                        '</a>' +
                        '<img src="' + gallery +  '">' +
                    '</div>' +
                '</div>' +
            '</div>';

            return ibContent;
        }

        function createHomepageGoogleMap(_latitude,_longitude,json) {
              var mapCenter = new google.maps.LatLng(_latitude,_longitude);
              var mapOptions = {
                  zoom: 13,
                  center: mapCenter,
                  disableDefaultUI: false,
                  scrollwheel: false,
                  styles: [
                    {stylers: [{ visibility: 'simplified' }]},
                    {elementType: 'labels', stylers: [{ visibility: 'off' }]}
                  ] ,
                  mapTypeControlOptions: {
                      style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                      position: google.maps.ControlPosition.BOTTOM_CENTER
                  },
                  panControl: false,
                  zoomControl: true,
                  zoomControlOptions: {
                      style: google.maps.ZoomControlStyle.LARGE,
                      position: google.maps.ControlPosition.RIGHT_TOP
                  }
              };
              var mapElement = document.getElementById('map');
              var map = new google.maps.Map(mapElement, mapOptions);
              var newMarkers = [];
              var markerClicked = 0;
              var activeMarker = false;
              var lastClicked = false;

              for (var i = 0; i < json.data.length; i++) {

                  // Google map marker content -----------------------------------------------------------------------------------

                  if( json.data[i].color ) var color = json.data[i].color;
                  else color = '';

                  var markerContent = document.createElement('DIV');
                  if( json.data[i].featured == 1 ) {
                      markerContent.innerHTML =
                          '<div class="map-marker featured' + color + '">' +
                              '<div class="icon">' +
                              '<img src="' + json.data[i].type_icon +  '">' +
                              '</div>' +
                          '</div>';
                  }
                  else {
                      markerContent.innerHTML =
                          '<div class="map-marker ' + json.data[i].color + '">' +
                              '<div class="icon">' +
                              '<img src="' + json.data[i].type_icon +  '">' +
                              '</div>' +
                          '</div>';
                  }

                  // Create marker on the map ------------------------------------------------------------------------------------

                  var marker = new RichMarker({
                      position: new google.maps.LatLng( json.data[i].latitude, json.data[i].longitude ),
                      map: map,
                      draggable: false,
                      content: markerContent,
                      flat: true
                  });

                  newMarkers.push(marker);

                  // Create infobox for marker -----------------------------------------------------------------------------------

                  var infoboxContent = document.createElement("div");
                  var infoboxOptions = {
                      content: infoboxContent,
                      disableAutoPan: false,
                      pixelOffset: new google.maps.Size(-18, -42),
                      zIndex: null,
                      alignBottom: true,
                      boxClass: "infobox",
                      enableEventPropagation: true,
                      closeBoxMargin: "0px 0px -30px 0px",
                      closeBoxURL: "http://themestarz.net/html/spotter/assets/img/close.png",
                      infoBoxClearance: new google.maps.Size(1, 1)
                  };

                  // Infobox HTML element ----------------------------------------------------------------------------------------

                  var category = json.data[i].category;
                  infoboxContent.innerHTML = drawInfobox(category, infoboxContent, json, i);

                  // Create new markers ------------------------------------------------------------------------------------------

                  newMarkers[i].infobox = new InfoBox(infoboxOptions);

                  // Show infobox after click ------------------------------------------------------------------------------------

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                      return function() {
                          google.maps.event.addListener(map, 'click', function(event) {
                              lastClicked = newMarkers[i];
                          });
                          activeMarker = newMarkers[i];
                          if( activeMarker != lastClicked ){
                              for (var h = 0; h < newMarkers.length; h++) {
                                  newMarkers[h].content.className = 'marker-loaded';
                                  newMarkers[h].infobox.close();
                              }
                              newMarkers[i].infobox.open(map, this);
                              newMarkers[i].infobox.setOptions({ boxClass:'fade-in-marker'});
                              newMarkers[i].content.className = 'marker-active marker-loaded';
                              markerClicked = 1;
                          }
                      }
                  })(marker, i));

                  // Fade infobox after close is clicked -------------------------------------------------------------------------

                  google.maps.event.addListener(newMarkers[i].infobox, 'closeclick', (function(marker, i) {
                      return function() {
                          activeMarker = 0;
                          newMarkers[i].content.className = 'marker-loaded';
                          newMarkers[i].infobox.setOptions({ boxClass:'fade-out-marker' });
                      }
                  })(marker, i));
              }

              // Close infobox after click on map --------------------------------------------------------------------------------

              google.maps.event.addListener(map, 'click', function(event) {
                  if( activeMarker != false && lastClicked != false ){
                      if( markerClicked == 1 ){
                          activeMarker.infobox.open(map);
                          activeMarker.infobox.setOptions({ boxClass:'fade-in-marker'});
                          activeMarker.content.className = 'marker-active marker-loaded';
                      }
                      else {
                          markerClicked = 0;
                          activeMarker.infobox.setOptions({ boxClass:'fade-out-marker' });
                          activeMarker.content.className = 'marker-loaded';
                          setTimeout(function() {
                              activeMarker.infobox.close();
                          }, 350);
                      }
                      markerClicked = 0;
                  }
                  if( activeMarker != false ){
                      google.maps.event.addListener(activeMarker, 'click', function(event) {
                          markerClicked = 1;
                      });
                  }
                  markerClicked = 0;
              });

              // Create marker clusterer -----------------------------------------------------------------------------------------

              var clusterStyles = [
                  {
                      url: 'assets/img/cluster.png',
                      height: 34,
                      width: 34
                  }
              ];

              var markerCluster = new MarkerClusterer(map, newMarkers, { styles: clusterStyles, maxZoom: 19 });
              markerCluster.onClick = function(clickedClusterIcon, sameLatitude, sameLongitude) {
                  return multiChoice(sameLatitude, sameLongitude, json);
              };

              // Dynamic loading markers and data from JSON ----------------------------------------------------------------------

              google.maps.event.addListener(map, 'idle', function() {
                  var visibleArray = [];
                  for (var i = 0; i < json.data.length; i++) {
                      if ( map.getBounds().contains(newMarkers[i].getPosition()) ){
                          visibleArray.push(newMarkers[i]);
                          $.each( visibleArray, function (i) {
                              setTimeout(function(){
                                  if ( map.getBounds().contains(visibleArray[i].getPosition()) ){
                                      if( !visibleArray[i].content.className ){
                                          visibleArray[i].setMap(map);
                                          visibleArray[i].content.className += 'bounce-animation marker-loaded';
                                          //markerCluster.repaint();
                                      }
                                  }
                              }, i * 50);
                          });
                      } else {
                          newMarkers[i].content.className = '';
                          newMarkers[i].setMap(null);
                      }
                  }
              });

              redrawMap('google', map);

              function is_cached(src, a) {
                  var image = new Image();
                  var loadedImage = $('.results li #' + json.data[a].id + ' .image');
                  image.src = src;
                  if( image.complete ){
                      $(".results").each(function() {
                          loadedImage.removeClass('loading');
                          loadedImage.addClass('loaded');
                      });
                  }
                  else {
                      $(".results").each(function() {
                          $('.results li #' + json.data[a].id + ' .image').addClass('loading');
                      });
                      $(image).load(function(){
                          loadedImage.removeClass('loading');
                          loadedImage.addClass('loaded');
                      });
                  }
              }
        }

        var data = {
        data: [
            {
              "title": "181 Fremont Apartments",
              "location": "181 Fremont St, San Francisco",
              "latitude": 37.7897947,
              "longitude": -122.3953209,
              "url": "#",
              "type_icon": "/new/apartment-3.png",
              "rating": 4,
              "gallery":
                  [
                      "/new/1.jpg"
                  ],
              "price": "$1200"
            },
            {
              "title": "L Seven Apartments",
              "location": "1222 Harrison St, San Francisco",
              "latitude": 37.7738069,
              "longitude": -122.4088216,
              "url": "#",
              "type_icon": "/new/apartment-3.png",
              "rating": 4,
              "gallery":
                  [
                      "/new/1.jpg"
                  ],
              "price": "$1200"
            }
          ]
        };

        var _latitude = 37.773972 || 51.541216;
        var _longitude = -122.431297 || -0.095678;

        //createHomepageGoogleMap(_latitude, _longitude, data);

        /*$('.popup-iframe-typeform').magnificPopup({
            type: 'iframe'
        });*/
        console.log('saad')
        $('.popup-iframe-typeform').magnificPopup({
          type: 'iframe',
          
          
          iframe: {
             markup: '<div class="mfp-iframe-scaler">'+
                        '<div class="mfp-close"></div>'+
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                        '<div class="mfp-title">Some caption</div>'+
                      '</div>'
          },
          callbacks: {
            markupParse: function(template, values, item) {
             values.title = item.el.attr('title');
            }
          }
          
          
        });
      var logo = $('#logo > a > img');
      $(document).scroll(function() {
      $(logo).css({ "margin-top" : $(this).scrollTop()>0 ? "15px":"25px"});
      });
      $(document).ready(function() {
      $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
      });
      });
      var pswpElement = document.querySelectorAll('.pswp')[0];
      // build items array
      var _181Fremont = [
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-10_xl-8f27bfc1a99905062f7cf8d148a78a4661267513c58a127cdac92955662a22ba.jpg',
      w: 964,
      h: 1024
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-17_sm-74669a6bc41d8d6bebf6c49185be14f1dfbf594e02d48327e4e8c563b3bf80da.jpg',
      w: 1024,
      h: 683
      },
      /*{
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-12_sm-a5cf24016ac05e8d5f14804aaa3fcc964aff2f4fb356357201b5971ff5c6ee76.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-11_xl-28e8731218e410aca6608b4fbf3a2855151990044038cefd5ec3f09577a76cc1.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-19_sm-a8597501e5038fafcd1315c0d1c5b5142fdcc1906c59527f02047685539639f7.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-2_xl-78155ad68f3bcca140b7fe5851de1318e940cf4b61a6a5a9bb38b96c229bec86.jpg'
      }*/
      ];
      var _LSeven = [
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-10_xl-8f27bfc1a99905062f7cf8d148a78a4661267513c58a127cdac92955662a22ba.jpg',
      w: 964,
      h: 1024
      },
      /*{
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-12_sm-a5cf24016ac05e8d5f14804aaa3fcc964aff2f4fb356357201b5971ff5c6ee76.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-11_xl-28e8731218e410aca6608b4fbf3a2855151990044038cefd5ec3f09577a76cc1.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-19_sm-a8597501e5038fafcd1315c0d1c5b5142fdcc1906c59527f02047685539639f7.jpg'
      },
      {
      src: 'http://djs00nylhf7co.cloudfront.net/assets/img--gallery-interior-2_xl-78155ad68f3bcca140b7fe5851de1318e940cf4b61a6a5a9bb38b96c229bec86.jpg'
      }*/
      ];
      // define options (if needed)
      var options = {
      // history & focus options are disabled on CodePen
      history: false,
      focus: false,
      closeOnScroll: false,
      showAnimationDuration: 0,
      hideAnimationDuration: 0
      };
      var gallery1 = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, _181Fremont, options);
      var gallery2 = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, _LSeven, options);
      $(document).on("click", "#g181", function() {
      gallery1.init();
      });
      $(document).on("click", "#gLS", function() {
      gallery2.init();
      });
      //document.getElementById("g181").onclick = openPhotoSwipe;
      function pricingSwitcher( elementCheck, elementParent, elementPricing ) {
      elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
      elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');
      if( elementCheck.filter(':checked').length > 0 ) {
      elementParent.find('.pts-right').addClass('pts-switch-active');
      elementPricing.find('.pts-switch-content-right').removeClass('hidden');
      } else {
      elementParent.find('.pts-left').addClass('pts-switch-active');
      elementPricing.find('.pts-switch-content-left').removeClass('hidden');
      }
      }
      $('.pts-switcher').each( function(){
      var element = $(this),
      elementCheck = element.find(':checkbox'),
      elementParent = $(this).parents('.pricing-tenure-switcher'),
      elementPricing = $( elementParent.attr('data-container') );
      pricingSwitcher( elementCheck, elementParent, elementPricing );
      elementCheck.on( 'change', function(){
      pricingSwitcher( elementCheck, elementParent, elementPricing );
      });
      });
      // Get Started From Validation
      var getStartedForm = $('#get-started-form'),
      getStartedFormAlert = getStartedForm.attr('data-alert-type'),
      getStartedFormLoader = getStartedForm.attr('data-loader'),
      getStartedFormResult = getStartedForm.find('.contact-form-result'),
      getStartedFormRedirect = getStartedForm.attr('data-redirect');
      getStartedForm.validate({
      submitHandler: function(form) {
      getStartedFormResult.hide();
      if( getStartedFormLoader == 'button' ) {
      var defButton = $(form).find('button'),
      defButtonText = defButton.html();
      defButton.html('<i class="icon-line-loader icon-spin nomargin"></i>');
      } else {
      $(form).find('.form-process').fadeIn();
      }
      $(form).ajaxSubmit({
      target: getStartedFormResult,
      dataType: 'json',
      resetForm: true,
      success: function( data ) {
      if( getStartedFormLoader == 'button' ) {
      defButton.html( defButtonText );
      } else {
      $(form).find('.form-process').fadeOut();
      }
      if( data.alert != 'error' && getStartedFormRedirect ){
      window.location.replace( getStartedFormRedirect );
      return true;
      }
      if( getStartedFormAlert == 'inline' ) {
      if( data.alert == 'error' ) {
      var alertType = 'alert-danger';
      } else {
      var alertType = 'alert-success';
      }
      getStartedFormResult.addClass( 'alert ' + alertType ).html( data.message ).slideDown( 400 );
      } else {
      getStartedFormResult.attr( 'data-notify-type', data.alert ).attr( 'data-notify-msg', data.message ).html('');
      SEMICOLON.widget.notifications( getStartedFormResult );
      }
      }
      });
      }
      });
      $('[data-pricing-plan]').click( function(){
      getStartedForm.find('#get-started-form-package').val( $(this).attr('data-pricing-plan') );
      getStartedForm.find('#modal-get-started-package').html( $(this).attr('data-pricing-plan') );
      });
      });

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDUi2u0Dyy7s0cOUpNynJjfgG8MofUiAQ8').
    script(src='/new/infobox.js').
    script(src='/new/richmarker-compiled.js').
    script(src='/new/markerclusterer.js').