doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/new/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/new/style.css', type='text/css')
    link(rel='stylesheet', href='/new/dark.css', type='text/css')
    // <link rel="stylesheet" type="text/css" href="one-page/onepage.css">
    // Media Agency Demo Specific Stylesheet
    link(rel='stylesheet', href='/new/app-landing.css', type='text/css')
    // /
    link(rel='stylesheet', href='/new/font-icons.css', type='text/css')
    link(rel='stylesheet', href='/new/et-line.css', type='text/css')
    link(rel='stylesheet', href='/new/animate.css', type='text/css')
    link(rel='stylesheet', href='/new/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='/new/fonts.css', type='text/css')
    // Bootstrap Switch CSS
    //link(rel='stylesheet', href='css/components/bs-switches.css', type='text/css')
    //link(rel='stylesheet', href='/new/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    link(rel='stylesheet', href='/new/colors.css', type='text/css')
    // Core CSS file
    //link(rel='stylesheet', href='/new/photoswipe.css')
    //
      Skin CSS file (styling of UI - buttons, caption, etc.)
      In the folder of skin CSS file there are also:
      - .png and .svg icons sprite,
      - preloader.gif (for browsers that do not support CSS animations)
    //link(rel='stylesheet', href='/new/default-skin.css')
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel="stylesheet", type="text/css")
  
    link(href='/new/style_map.css')
    link(href="https://fonts.googleapis.com/css?family=Lato",rel="stylesheet")
    link(href="/new/maps.css",rel="stylesheet")
    //
      Document Title
      =============================================
    title Roomtini | High class living without the high Price
    style(type='text/css').
      .big-video-button {
      display: inline-block;
      width: 64px;
      height: 64px;
      line-height: 64px;
      border-radius: 50%;
      background-color: #333;
      color: #F5F5F5 !important;
      font-size: 24px;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      opacity: 1;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      }
      .big-video-button:hover { opacity: 0.9; }
      .dark .big-video-button,
      .big-video-button.dark {
      background-color: #F5F5F5;
      color: #333 !important;
      text-shadow: none;
      }
      .big-video-button i:nth-of-type(1) {
      position: relative;
      left: 3px;
      }
      .big-video-button i:nth-of-type(2),
      .big-video-button.video-played i:nth-of-type(1) { display: none; }
      .big-video-button.video-played i:nth-of-type(2) { display: block; }
      .big-video-button.video-played { opacity: 0.1; }
      #slider:hover .big-video-button.video-played { opacity: 1; }
      .videoplay-on-hover .vertical-middle { z-index: 2; }
      .videoplay-on-hover .video-wrap { z-index: 1; }
      .videoplay-on-hover .vertical-middle h2 {
      font-size: 40px;
      font-weight: bold;
      }
      .device-xs .videoplay-on-hover .vertical-middle h2 { font-size: 32px; }
      .device-xxs .videoplay-on-hover .vertical-middle h2 { font-size: 26px; }
      .accordion.accordion-border {
      border: 0px solid #DDD;
      border-radius: 0px;
      }
      .accordion {
      margin-bottom: 0px;
      }
      .panel-body {
      padding: 0px;
      }
      .panel-heading {
      background-color: #267DF4 !important;
      color: white !important;
      }
      .panel-heading > span {
      font-weight: bold;
      padding-left: 22px;
      }
      .pricing-box {
      padding: 0px;
      margin: 0px;
      height: 650px;
      margin-bottom: 40px;
      border-radius:5px !important;
      }
      .property-img {
      height: 230px; width: 100%;
      }
      .property-info {
      background-color: white;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 26px;
      padding-bottom: 13px;
      color: #4a4a4a;
      height: 270px;
      font-family:Lato;
      }
      .property-button {
      height: 54px;
      background-color: #267DF4;
      color: black;
      line-height: 54px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      position: relative;
      }
      .property-button > a {
      color: white;
      }
      .border-form-control {
      height: 48px;
      padding: 8px 4px;
      font-size: 16px;
      letter-spacing: 1px;
      background-color: transparent !important;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      border-bottom-width: 1px;
      font-family: 'Montserrat', sans-serif;
      }
      textarea.border-form-control {
      resize: none;
      overflow: hidden;
      word-wrap: break-word;
      }
      .hhidden {
        overflow: hidden;
      }
      #g181,#gLS { cursor: pointer; cursor: hand; color: #267DF4; }
      #applybutton {
        margin-left:20px !important;
      }
      @media only screen and (min-width:768px) and (max-width: 992px) {
        .ccenter {
          text-align: center;
        }

        /*.menu-item-emphasis a{
          background-color:white;
        }*/
      }
      .cd-faq-group .cd-faq-title h2 {
        font-size: 12px;
      }
      .cd-faq-categories a {
        font-size: 12px;
      }
      .cd-faq-group {
        list-style-type: none;
      }
      .cd-faq-group > li {        
        border-radius: 4px;
      }
      .cd-faq-content p {
        font-size: 14px;
        font-family: 'Lato';
      }

      .cd-faq-trigger {
        font-family: 'Lato';
        font-weight: bold;
        color: #6a7989 !important;
      }
      .lato {
        font-family:Lato;
      }
      .one-page-menu > li > a > div {
        font-weight: bold;
      }
      .fill-denim {
          background: #50667f;
      }
      *{font-family:Lato;}
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.split-menu.transparent-header.dark(data-sticky-class='not-dark', data-responsive-class='not-dark')
        #header-wrap(style='background-color: #142736;')
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='#', data-dark-logo='/new/roomtini_logo_dark.png', style="")
                img(src='/new/roomtini_logo_dark.png', alt='Canvas Logo', style='height: 45px; width:200px; margin-top: 25px;')


              a.retina-logo(href='#', data-dark-logo='/new/roomtini_logo_dark.png', style="display:black;")
                img(src='/new/roomtini_logo_dark.png', alt='Canvas Logo', style='height: 45px; width:200px; margin-top: 25px;')
            // #logo end
            //
              Primary Navigation
              =============================================
            nav#primary-menu.with-arrows.clearfix.not-dark
              ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
                
                //li
                  a(href='#', data-href='#wrapper')
                    div Home
                //
                  <li><a href="#" data-href="#section-nextgen"><div>Explore</div></a>
                  <ul>
                  <li><a href="#" data-href="#section-nextgen"><div>NextGen Framework</div></a></li>
                  <li><a href="#" data-href="#section-stunning-graphics"><div>Stunning Graphics</div></a></li>
                  <li><a href="#" data-href="#section-secured-solutions"><div>Secured Solutions</div></a></li>
                  </ul>
                  </li>
                  <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
              ul.one-page-menu(data-easing='easeInOutExpo', data-speed='1250', data-offset='160')
                li
                  a(href='#', data-href='#wrapper')
                    div Home
                li
                  a(href='#', data-href='#section-first_para')
                    div About
                li
                  a(href='#', data-href='#section-fourth_para')
                    div Locations
                li
                  a(href='#', data-href='#section-faqs')
                    div FAQs
                if !user
                  li
                    a(href='/login')
                      div Login
                else 
                  li
                    a(href='#')
                      div='' + ((user.profile && user.profile.name) || user.email || user.id)
                    ul
                      li
                        a(href='/account')
                          div My account
                      li
                        a(href='/logout')
                          div Logout
                if !user
                  li.menu-item-emphasis(style='', id="applybutton")
                    a(href='/signup', style='', id="applynow")
                      div Apply Now
            // #primary-menu end
      // #header end
      //
        Content
        =============================================
      section#content
        .content-wrap(style='padding: 0px;')

          .page-section.map-canvas
            .row(style='height: 700px')
              .col-md-4
                ul.results.list
                  li
                    #1.item
                      a.image.loaded(href='#')
                        .inner
                          .item-specific
                            span(title='Bedrooms')
                              img.mCS_img_loaded(src='assets/img/bedrooms.png')
                              | 2
                            span(title='Bathrooms')
                              img.mCS_img_loaded(src='assets/img/bathrooms.png')
                              | 2
                            span(title='Area')
                              img.mCS_img_loaded(src='assets/img/area.png')
                              | 240
                              sup 2
                            span(title='Garages')
                              img.mCS_img_loaded(src='assets/img/garages.png')
                              | 1
                          img.mCS_img_loaded(src='assets/img/items/1.jpg', alt='')
                      .wrapper
                        a#1(href='#')
                          h3 Steak House Restaurant
                        figure 63 Birch Street
                        .price $2500
                        .info
                          .type
                            i
                              img.mCS_img_loaded(src='assets/icons/store/apparel/umbrella-2.png', alt='')
                            span Apartment
                          .rating(data-rating='4')
                            span.stars
                              i.fa.fa-star.s1.active(data-score='1')
                              i.fa.fa-star.s2.active(data-score='2')
                              i.fa.fa-star.s3.active(data-score='3')
                              i.fa.fa-star.s4.active(data-score='4')
                              i.fa.fa-star.s5(data-score='5')
              .col-md-8(id='map', style='height: 100%')


      // #content end
      //
        Footer
        =============================================
      footer#footer(style='background-color: #FFF;margin-top: -60px;')
        .container
          //
            Footer Widgets
            =============================================
          .clearfix 
            .row.clearfix(style="margin-top:20px")
              .col-md-5
                .widget.clearfix
                  .row.clearfix
                    .col-md-8.bottommargin-sm.clearfix(style='color:#888;')
                      img.bottommargin-sm(src='/new/roomtini_logo.png', alt='Canvas Logo', style='display: block; height: 40px')
                      p
                        | Roomtini enables elegent use of apartment layouts to create affordable living for everyone.
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-facebook(href='#')
                        i.icon-facebook
                        i.icon-facebook
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-twitter(href='#')
                        i.icon-twitter
                        i.icon-twitter
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-gplus(href='#')
                        i.icon-gplus
                        i.icon-gplus
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-pinterest(href='#')
                        i.icon-pinterest
                        i.icon-pinterest
                      a.social-icon.si-small.si-borderless.si-colored.si-rounded.si-vimeo(href='#')
                        i.icon-vimeo
                        i.icon-vimeo
        //
          Copyrights
          =============================================
        #copyrights.nobg.notoppadding
          .container.clearfix
            .col_half
              | Copyrights © 2017 All Rights Reserved by Roomtini
              br
        // #copyrights end
      // #footer end
    // #wrapper end

    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='/new/jquery.js')
    script(type='text/javascript', src='/new/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='/new/functions.js')
    

    script.
      
      jQuery(document).ready( function($){

        function redrawMap(mapProvider, map){
          $('.map .toggle-navigation').click(function() {
              $('.map-canvas').toggleClass('results-collapsed');
              $('.map-canvas .map').one("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
                  if( mapProvider == 'osm' ){
                      map.invalidateSize();
                  }
                  else if( mapProvider == 'google' ){
                      google.maps.event.trigger(map, 'resize');
                  }
              });
          });
        }
      
        function drawInfobox(category, infoboxContent, json, i){

            if(json.data[i].color)          { var color = json.data[i].color }
                else                        { color = '' }
            if( json.data[i].price )        { var price = '<div class="price">' + json.data[i].price +  '</div>' }
                else                        { price = '' }
            if(json.data[i].id)             { var id = json.data[i].id }
                else                        { id = '' }
            if(json.data[i].url)            { var url = json.data[i].url }
                else                        { url = '' }
            if(json.data[i].type)           { var type = json.data[i].type }
                else                        { type = '' }
            if(json.data[i].title)          { var title = json.data[i].title }
                else                        { title = '' }
            if(json.data[i].location)       { var location = json.data[i].location }
                else                        { location = '' }
            if(json.data[i].gallery[0])     { var gallery = json.data[i].gallery[0] }
                else                        { gallery[0] = '../img/default-item.jpg' }

            var ibContent = '';
            ibContent =
            '<div class="infobox ' + color + '">' +
                '<div class="inner">' +
                    '<div class="image">' +
                        '<div class="item-specific">' + /*drawItemSpecific(category, json, i)*/ '' + '</div>' +
                        /*'<div class="overlay">' +
                            '<div class="wrapper">' +
                                '<a href="#" class="quick-view" data-toggle="modal" data-target="#modal" id="' + id + '">Quick View</a>' +
                                '<hr>' +
                                '<a href="' + url +  '" class="detail">Go to Detail</a>' +
                            '</div>' +
                        '</div>' +*/
                        '<a href="' + url +  '" class="description">' +
                            '<div class="meta">' +
                                price +
                                '<h2>' + title +  '</h2>' +
                                '<figure>' + location +  '</figure>' +
                                '<i class="fa fa-angle-right"></i>' +
                            '</div>' +
                        '</a>' +
                        '<img src="' + gallery +  '">' +
                    '</div>' +
                '</div>' +
            '</div>';

            return ibContent;
        }

        function createHomepageGoogleMap(_latitude,_longitude,json) {
              var mapCenter = new google.maps.LatLng(_latitude,_longitude);
              var mapOptions = {
                  zoom: 13,
                  center: mapCenter,
                  disableDefaultUI: false,
                  scrollwheel: false,
                  styles: [
                    {stylers: [{ visibility: 'simplified' }]},
                    {elementType: 'labels', stylers: [{ visibility: 'off' }]}
                  ] ,
                  mapTypeControlOptions: {
                      style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                      position: google.maps.ControlPosition.BOTTOM_CENTER
                  },
                  panControl: false,
                  zoomControl: true,
                  zoomControlOptions: {
                      style: google.maps.ZoomControlStyle.LARGE,
                      position: google.maps.ControlPosition.RIGHT_TOP
                  }
              };
              var mapElement = document.getElementById('map');
              var map = new google.maps.Map(mapElement, mapOptions);
              var newMarkers = [];
              var markerClicked = 0;
              var activeMarker = false;
              var lastClicked = false;

              for (var i = 0; i < json.data.length; i++) {

                  // Google map marker content -----------------------------------------------------------------------------------

                  if( json.data[i].color ) var color = json.data[i].color;
                  else color = '';

                  var markerContent = document.createElement('DIV');
                  if( json.data[i].featured == 1 ) {
                      markerContent.innerHTML =
                          '<div class="map-marker featured' + color + '">' +
                              '<div class="icon">' +
                              '<img src="' + json.data[i].type_icon +  '">' +
                              '</div>' +
                          '</div>';
                  }
                  else {
                      markerContent.innerHTML =
                          '<div class="map-marker ' + json.data[i].color + '">' +
                              '<div class="icon">' +
                              '<img src="' + json.data[i].type_icon +  '">' +
                              '</div>' +
                          '</div>';
                  }

                  // Create marker on the map ------------------------------------------------------------------------------------

                  var marker = new RichMarker({
                      position: new google.maps.LatLng( json.data[i].latitude, json.data[i].longitude ),
                      map: map,
                      draggable: false,
                      content: markerContent,
                      flat: true
                  });

                  newMarkers.push(marker);

                  // Create infobox for marker -----------------------------------------------------------------------------------

                  var infoboxContent = document.createElement("div");
                  var infoboxOptions = {
                      content: infoboxContent,
                      disableAutoPan: false,
                      pixelOffset: new google.maps.Size(-18, -42),
                      zIndex: null,
                      alignBottom: true,
                      boxClass: "infobox",
                      enableEventPropagation: true,
                      closeBoxMargin: "0px 0px -30px 0px",
                      closeBoxURL: "http://themestarz.net/html/spotter/assets/img/close.png",
                      infoBoxClearance: new google.maps.Size(1, 1)
                  };

                  // Infobox HTML element ----------------------------------------------------------------------------------------

                  var category = json.data[i].category;
                  infoboxContent.innerHTML = drawInfobox(category, infoboxContent, json, i);

                  // Create new markers ------------------------------------------------------------------------------------------

                  newMarkers[i].infobox = new InfoBox(infoboxOptions);

                  // Show infobox after click ------------------------------------------------------------------------------------

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                      return function() {
                          google.maps.event.addListener(map, 'click', function(event) {
                              lastClicked = newMarkers[i];
                          });
                          activeMarker = newMarkers[i];
                          if( activeMarker != lastClicked ){
                              for (var h = 0; h < newMarkers.length; h++) {
                                  newMarkers[h].content.className = 'marker-loaded';
                                  newMarkers[h].infobox.close();
                              }
                              newMarkers[i].infobox.open(map, this);
                              newMarkers[i].infobox.setOptions({ boxClass:'fade-in-marker'});
                              newMarkers[i].content.className = 'marker-active marker-loaded';
                              markerClicked = 1;
                          }
                      }
                  })(marker, i));

                  // Fade infobox after close is clicked -------------------------------------------------------------------------

                  google.maps.event.addListener(newMarkers[i].infobox, 'closeclick', (function(marker, i) {
                      return function() {
                          activeMarker = 0;
                          newMarkers[i].content.className = 'marker-loaded';
                          newMarkers[i].infobox.setOptions({ boxClass:'fade-out-marker' });
                      }
                  })(marker, i));
              }

              // Close infobox after click on map --------------------------------------------------------------------------------

              google.maps.event.addListener(map, 'click', function(event) {
                  if( activeMarker != false && lastClicked != false ){
                      if( markerClicked == 1 ){
                          activeMarker.infobox.open(map);
                          activeMarker.infobox.setOptions({ boxClass:'fade-in-marker'});
                          activeMarker.content.className = 'marker-active marker-loaded';
                      }
                      else {
                          markerClicked = 0;
                          activeMarker.infobox.setOptions({ boxClass:'fade-out-marker' });
                          activeMarker.content.className = 'marker-loaded';
                          setTimeout(function() {
                              activeMarker.infobox.close();
                          }, 350);
                      }
                      markerClicked = 0;
                  }
                  if( activeMarker != false ){
                      google.maps.event.addListener(activeMarker, 'click', function(event) {
                          markerClicked = 1;
                      });
                  }
                  markerClicked = 0;
              });

              // Create marker clusterer -----------------------------------------------------------------------------------------

              var clusterStyles = [
                  {
                      url: 'assets/img/cluster.png',
                      height: 34,
                      width: 34
                  }
              ];

              var markerCluster = new MarkerClusterer(map, newMarkers, { styles: clusterStyles, maxZoom: 19 });
              markerCluster.onClick = function(clickedClusterIcon, sameLatitude, sameLongitude) {
                  return multiChoice(sameLatitude, sameLongitude, json);
              };

              // Dynamic loading markers and data from JSON ----------------------------------------------------------------------

              google.maps.event.addListener(map, 'idle', function() {
                  var visibleArray = [];
                  for (var i = 0; i < json.data.length; i++) {
                      if ( map.getBounds().contains(newMarkers[i].getPosition()) ){
                          visibleArray.push(newMarkers[i]);
                          $.each( visibleArray, function (i) {
                              setTimeout(function(){
                                  if ( map.getBounds().contains(visibleArray[i].getPosition()) ){
                                      if( !visibleArray[i].content.className ){
                                          visibleArray[i].setMap(map);
                                          visibleArray[i].content.className += 'bounce-animation marker-loaded';
                                          //markerCluster.repaint();
                                      }
                                  }
                              }, i * 50);
                          });
                      } else {
                          newMarkers[i].content.className = '';
                          newMarkers[i].setMap(null);
                      }
                  }
              });

              redrawMap('google', map);

              function is_cached(src, a) {
                  var image = new Image();
                  var loadedImage = $('.results li #' + json.data[a].id + ' .image');
                  image.src = src;
                  if( image.complete ){
                      $(".results").each(function() {
                          loadedImage.removeClass('loading');
                          loadedImage.addClass('loaded');
                      });
                  }
                  else {
                      $(".results").each(function() {
                          $('.results li #' + json.data[a].id + ' .image').addClass('loading');
                      });
                      $(image).load(function(){
                          loadedImage.removeClass('loading');
                          loadedImage.addClass('loaded');
                      });
                  }
              }
        }

        var data = {
        data: [
            {
              "title": "181 Fremont Apartments",
              "location": "181 Fremont St, San Francisco",
              "latitude": 37.7897947,
              "longitude": -122.3953209,
              "url": "#",
              "type_icon": "/new/apartment-3.png",
              "rating": 4,
              "gallery":
                  [
                      "/new/1.jpg"
                  ],
              "price": "$1200"
            },
            {
              "title": "L Seven Apartments",
              "location": "1222 Harrison St, San Francisco",
              "latitude": 37.7738069,
              "longitude": -122.4088216,
              "url": "#",
              "type_icon": "/new/apartment-3.png",
              "rating": 4,
              "gallery":
                  [
                      "/new/1.jpg"
                  ],
              "price": "$1200"
            }
          ]
        };

        var _latitude = 37.773972 || 51.541216;
        var _longitude = -122.431297 || -0.095678;

        createHomepageGoogleMap(_latitude, _longitude, data);

        /*$('.popup-iframe-typeform').magnificPopup({
            type: 'iframe'
        });*/

        $('.popup-iframe-typeform').magnificPopup({
          type: 'iframe',
          
          
          iframe: {
             markup: '<div class="mfp-iframe-scaler">'+
                        '<div class="mfp-close"></div>'+
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                        '<div class="mfp-title">Some caption</div>'+
                      '</div>'
          },
          callbacks: {
            markupParse: function(template, values, item) {
             values.title = item.el.attr('title');
            }
          }
          
          
        });
        
        var logo = $('#logo > a > img');
          
          $(document).scroll(function() {
            $(logo).css({ "margin-top" : $(this).scrollTop()>0 ? "15px":"25px"});
          });
      
          $(document).ready(function() {
            $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
              disableOn: 700,
              type: 'iframe',
              mainClass: 'mfp-fade',
              removalDelay: 160,
              preloader: false,
              fixedContentPos: false
            });
          });
      
      
       
      });

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDUi2u0Dyy7s0cOUpNynJjfgG8MofUiAQ8').
    script(src='/new/infobox.js').
    script(src='/new/richmarker-compiled.js').
    script(src='/new/markerclusterer.js').